{% extends "layout/layout.html" %}
{% set page_title = "Amenities" %}
 {% block content %}

{% include "../templates/layout/header-footer/main-header.html" %} 

<div class="breadcumb-wrapper" style="background-image: url(assets/images/breadcrumb/breadcrumb.png)">
  <div class="container">
    {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
  </div>
</div>
<!-- End breadcrumb -->

<div class="section tungo-section-padding z-index">
  <div id="tungo-counter"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="tungo-thumb">
          <img src="assets/images/v7/thumb2.png" alt="">
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 offset-xl-1 d-flex align-items-center">
        <div class="tungo-default-content-wrap">
          <div class="tungo-default-content letter-spacing-reduce">
            <h2>We provide high-quality apartments</h2>
            <p>We have an in-depth knowledge of the building complex, including property values, trends & regulations, which sets us apart in serving our clients the best properties.</p>
          </div>
          <div class="tungo-extra-mt">
            <div class="tungo-counter-wrap mw-500">
              <div class="tungo-counter-data">
                <div class="tungo-counter-number"><span data-percentage="156" class="tungo-counter"></span><img src="assets/images/v1/c-icon1.png" alt=""></div>
                <p>Various home models</p>
              </div>
              <div class="tungo-counter-data">
                <div class="tungo-counter-number"><span data-percentage="43" class="tungo-counter"></span><img src="assets/images/v1/c-icon2.png" alt=""></div>
                <p>Types of green spaces</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tungo-shape-top-left">
    <img src="assets/images/shape/shape-left.png" alt="">
  </div>
</div>
<!-- End section -->

<div class="ssection z-index blue-bg tungo-section-padding2">
  <div class="container">
    <div class="tungo-section-title light-color">
      <div class="row">
        <div class="col-lg-7">
          <h2>Enjoy access to our top-notch amenities</h2>
        </div>
        <div class="col-lg-5 d-flex justify-content-end align-items-center">
          <div class="tungo-title-btn">
            <a class="tungo-default-btn" href="contact-us.html">Schedule A Visit</a>
          </div>
        </div>
      </div>
    </div>

    <div class="tungo-iconbox-column2">
      <div class="tungo-iconbox-wrap2">
        <div class="tungo-iconbox-icon2">
          <img src="assets/images/iconbox/icon4.png" alt="">
        </div>
        <div class="tungo-iconbox-data2">
          <h4>Swimming Pool</h4>
          <p>Dive into relaxation and recreation with our sparkling swimming pool. Whether you want to swim laps for exercise.</p>
        </div>
      </div>
      <div class="tungo-iconbox-wrap2">
        <div class="tungo-iconbox-icon2">
          <img src="assets/images/iconbox/icon5.png" alt="">
        </div>
        <div class="tungo-iconbox-data2">
          <h4>Fitness Center</h4>
          <p>Stay active & healthy in our state-of-the-art fitness center equipped with cardio machines, training equipment.</p>
        </div>
      </div>
      <div class="tungo-iconbox-wrap2">
        <div class="tungo-iconbox-icon2">
          <img src="assets/images/iconbox/icon6.png" alt="">
        </div>
        <div class="tungo-iconbox-data2">
          <h4>Parking Spaces</h4>
          <p>Enjoy the convenience of designated  parking spaces within our residential complex for residents and guests.</p>
        </div>
      </div>
      <div class="tungo-iconbox-wrap2">
        <div class="tungo-iconbox-icon2">
          <img src="assets/images/iconbox/icon7.png" alt="">
        </div>
        <div class="tungo-iconbox-data2">
          <h4>Playground</h4>
          <p>Let your kids have fun and make friends at our playground area. Designed with safety and enjoyment in mind.</p>
        </div>
      </div>
      <div class="tungo-iconbox-wrap2">
        <div class="tungo-iconbox-icon2">
          <img src="assets/images/iconbox/icon8.png" alt="">
        </div>
        <div class="tungo-iconbox-data2">
          <h4>Rooftop Terrace</h4>
          <p>Take in breathtaking views & unwind on our rooftop terrace. Whether it's for a  hosting gatherings with friends.</p>
        </div>
      </div>
      <div class="tungo-iconbox-wrap2">
        <div class="tungo-iconbox-icon2">
          <img src="assets/images/iconbox/icon9.png" alt="">
        </div>
        <div class="tungo-iconbox-data2">
          <h4>Communal Lounge</h4>
          <p>Gather with neighbors and socialize in our communal lounge area. With comfortable seating & perfect spot for events.</p>
        </div>
      </div>
      <div class="tungo-iconbox-border1"></div>
      <div class="tungo-iconbox-border2"></div>
      <div class="tungo-iconbox-border3"></div>
  </div>
  </div>
  <div class="tungo-shape-two wow fadeInLeft" data-wow-delay=".3s">
    <img src="assets/images/shape/shape2.png" alt="">
  </div>
</div>
<!-- End section -->

<div class="section tungo-section-padding">
  <div class="container">
    <div class="tungo-section-title center">
      <h2>Check out our ideal property gallery</h2>
      <p>Each floor is designed by experienced interior designers. You can get a better experience by looking at gallery pictures.</p>
    </div>
    <div class="tungo-portfolio-wrap">
      <div class="tungo-portfolio-column-left">
        <a class="tungo-portfolio-thumb image-init" href="assets/images/p1/p1.png">
            <img src="assets/images/p1/p1.png" alt="">
            <div class="tungo-portfolio-link">
              <img src="assets/images/v1/portfolio-icon.svg" alt="">
            </div>
        </a>
      </div>
      <div class="tungo-portfolio-column-right">
        <a class="tungo-portfolio-thumb image-init" href="assets/images/p1/p2.png">
          <img src="assets/images/p1/p2.png" alt="">
          <div class="tungo-portfolio-link">
            <img src="assets/images/v1/portfolio-icon.svg" alt="">
          </div>
        </a>
        <a class="tungo-portfolio-thumb image-init" href="assets/images/p1/p3.png">
          <img src="assets/images/p1/p3.png" alt="">
          <div class="tungo-portfolio-link">
            <img src="assets/images/v1/portfolio-icon.svg" alt="">
          </div>
        </a>
        <a class="tungo-portfolio-thumb image-init" href="assets/images/p1/p4.png">
          <img src="assets/images/p1/p4.png" alt="">
          <div class="tungo-portfolio-link">
            <img src="assets/images/v1/portfolio-icon.svg" alt="">
          </div>
        </a>
        <a class="tungo-portfolio-thumb image-init" href="assets/images/p1/p5.png">
          <img src="assets/images/p1/p5.png" alt="">
          <div class="tungo-portfolio-link">
            <img src="assets/images/v1/portfolio-icon.svg" alt="">
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="container">
  <div class="tungo-diverder"></div>
</div>
<!-- End -->

<div class="section tungo-section-padding">
  <div class="container">
    <div class="tungo-section-title">
      <div class="row">
        <div class="col-lg-7">
          <h2>Contact us today for a free consultation</h2>
        </div>
        <div class="col-lg-5 d-flex align-items-center justify-content-end">
          <div class="tungo-section-title-des">
            <p>Feel free to reach out if you need help or have questions. We are here to assist and provide information whenever you need it.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div id="map"></div>
      </div>
      <div class="col-lg-6">
        <form action="#">
          <div class="tungo-form-wrap">
            <div class="row">
              <div class="col-lg-6">
                <div class="tungo-form-field">
                  <label>Enter your name</label>
                  <input type="text" placeholder="Adam Smith">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="tungo-form-field">
                  <label>Select the date</label>
                  <div class="form-container">
                    <img src="assets/images/v1/calendar.png" alt="">
                    <input type="text" placeholder="Pick a date" class="date-input">
                 </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="tungo-form-field">
                  <label>Phone number</label>
                  <input type="number" placeholder="(123) 456 - 7890">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="tungo-form-field">
                  <label>Email address</label>
                  <input type="email" placeholder="example@gmail.com">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="tungo-form-field">
                  <label>Message</label>
                  <textarea name="textarea" placeholder="Write your message here..."></textarea>
                </div>
              </div>
              <div class="col-lg-12">
                <button id="tungo-submi-btn" type="submit">Send Message</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End section -->


{% include "../templates/layout/header-footer/main-footer.html" %} 
  
{% endblock %}
