{% extends "layout/layout.html" %}
{% set page_title = "Apartment Plans" %}
 {% block content %}

{% include "../templates/layout/header-footer/main-header.html" %} 

<div class="breadcumb-wrapper" style="background-image: url(assets/images/breadcrumb/breadcrumb.png)">
  <div class="container">
    {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
  </div>
</div>
<!-- End breadcrumb -->

<div class="tungo-section-padding z-index">
  <div class="container">
    <div class="tungo-section-title center">
      <h2>Choose an apartment from our selection</h2>
    </div>
    <div class="tungo-tab-wrap">
      <div class='tungo-tab-buttons tungo-tab-buttons3'>
        <span class='tab-content1'>Duplex Apartment</span>
        <span class='tab-content2'>Penthouse</span>
        <span class='tab-content3'>Loft Apartment</span>
        <span class='tab-content4'>Studio Apartment</span>
        <span class='tab-content5'>High Rise</span>
      </div>
      <div class='tab-content'>
        <div class="tab-content1">
          <div class="row">
            <div class="col-lg-6">
              <div class="tungo-tab-content">
                <h3>Duplex Apartment:</h3>
                <p>A duplex is one-half of a house that has been divided into two. As a duplex renter, you share a wall with your neighbors. However, you can enjoy all the perks of living in a house at a slightly lower cost.</p>
                <div class="tungo-extra-mt">
                  <div class="tungo-flat-details">
                    <ul>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/area.png" alt="">
                          Total Area:
                        </div>
                        <span>1,850 sq. ft</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bed.png" alt="">
                          Bedrooms:
                        </div>
                        <span>04</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bath.png" alt="">
                          Bathrooms:
                        </div>
                        <span>03</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/view.png" alt="">
                          Outdoor View:
                        </div>
                        <span>03</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/price.png" alt="">
                          Price:
                        </div>
                        <span>$36,50,000</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
              <div class="tungo-tab-thumb">
                <img src="assets/images/v1/tab-thumb1.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-content2">
          <div class="row">
            <div class="col-lg-6">
              <div class="tungo-tab-content">
                <h3>Penthouse Apartment:</h3>
                <p>Our penthouse apartment is a unit that is located on the top floor of a building. They are considered to be luxury apartments & you won’t often find in other types of apartments.</p>
                <div class="tungo-extra-mt">
                  <div class="tungo-flat-details">
                    <ul>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/area.png" alt="">
                          Total Area:
                        </div>
                        <span>2000 sq. ft</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bed.png" alt="">
                          Bedrooms:
                        </div>
                        <span>06</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bath.png" alt="">
                          Bathrooms:
                        </div>
                        <span>08</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/view.png" alt="">
                          Outdoor View:
                        </div>
                        <span>03</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/price.png" alt="">
                          Price:
                        </div>
                        <span>$87,00,000</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
              <div class="tungo-tab-thumb">
                <img src="assets/images/v1/tab-thumb2.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-content3">
          <div class="row">
            <div class="col-lg-6">
              <div class="tungo-tab-content">
                <h3>Loft Apartment:</h3>
                <p>A loft apartment is similar in layout to a studio apartment. This type of apartment usually has an open and roomy vibe, and it’s perfect if you love having an apartment that you can move around in.</p>
                <div class="tungo-extra-mt">
                  <div class="tungo-flat-details">
                    <ul>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/area.png" alt="">
                          Total Area:
                        </div>
                        <span>1650 sq. ft</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bed.png" alt="">
                          Bedrooms:
                        </div>
                        <span>04</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bath.png" alt="">
                          Bathrooms:
                        </div>
                        <span>04</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/view.png" alt="">
                          Outdoor View:
                        </div>
                        <span>02</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/price.png" alt="">
                          Price:
                        </div>
                        <span>$56,93,000</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
              <div class="tungo-tab-thumb">
                <img src="assets/images/v1/tab-thumb3.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-content4">
          <div class="row">
            <div class="col-lg-6">
              <div class="tungo-tab-content">
                <h3>Studio Apartment:</h3>
                <p>A studio is a one-room apartment plus a bathroom. The open floor plan incorporates living space, bedroom space, and eating space. A studio is also recognized as a bachelor or efficiency apartment.</p>
                <div class="tungo-extra-mt">
                  <div class="tungo-flat-details">
                    <ul>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/area.png" alt="">
                          Total Area:
                        </div>
                        <span>2200 sq. ft</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bed.png" alt="">
                          Bedrooms:
                        </div>
                        <span>08</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bath.png" alt="">
                          Bathrooms:
                        </div>
                        <span>04</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/view.png" alt="">
                          Outdoor View:
                        </div>
                        <span>03</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/price.png" alt="">
                          Price:
                        </div>
                        <span>$98,00,000</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
              <div class="tungo-tab-thumb">
                <img src="assets/images/v1/tab-thumb4.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-content5">
          <div class="row">
            <div class="col-lg-6">
              <div class="tungo-tab-content">
                <h3>High Rise Apartment:</h3>
                <p>High Rise. To sum up, a high-rise apartment refers to the number of stories. Depending on location, the number of stories differs. High-rise apartments are the usual residential available in metropolitan cities.</p>
                <div class="tungo-extra-mt">
                  <div class="tungo-flat-details">
                    <ul>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/area.png" alt="">
                          Total Area:
                        </div>
                        <span>1400 sq. ft</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bed.png" alt="">
                          Bedrooms:
                        </div>
                        <span>03</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bath.png" alt="">
                          Bathrooms:
                        </div>
                        <span>02</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/view.png" alt="">
                          Outdoor View:
                        </div>
                        <span>03</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/price.png" alt="">
                          Price:
                        </div>
                        <span>$16,42,000</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
              <div class="tungo-tab-thumb">
                <img src="assets/images/v1/tab-thumb5.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tungo-shape-top-left">
    <img src="assets/images/shape/shape-left.png" alt="">
  </div>
</div>
<!-- End section -->


{% include "../templates/layout/header-footer/main-footer.html" %} 
  
{% endblock %}
