
  {% extends "layout/layout.html" %} {% block content %}

<div class="tungo-coming-soon-logo" id="sticky-menu">
  <div class="container">
    <a href="index.html">
      <img src="assets/images/logo/logo-white.svg" alt="logo">
    </a>
  </div>
</div>
<div class="tungo-coming-soon-section" style="background-image: url('assets/images/breadcrumb/coming-thumb.png')">
  <div class="container">
    <div class="tungo-coming-soon-column">
      <div class="tungo-countdown-wrap">
        <div class="tungo-countdown-item">
          <div class="countdown-days">
            <div class="number"></div>
          </div>
          <h4>Days</h4>
        </div>
        <div class="tungo-countdown-item">
          <div class="countdown-hours">
            <div class="number"></div>
          </div>
          <h4>Hours</h4>
        </div>
        <div class="tungo-countdown-item">
          <div class="countdown-minutes">
            <div class="number"></div>
          </div>
          <h4>Minutes</h4>
        </div>
        <div class="tungo-countdown-item">
          <div class="countdown-seconds">
            <div class="number"></div>
          </div>
          <h4>Seconds</h4>
        </div>
      </div>
      <div class="tungo-coming-soon-content">
        <h2>We're coming! With something special for you. Stay with us</h2>
      </div>
      <div class="tungo-extra-mt">
        <div class="tungo-subscription-five">
          <form action="#">
            <input type="email" placeholder="Enter your email address">
            <button id="tungo-subscription-btn" type="button">
              Subscribe
            </button>
          </form>
          <p>*We do not share your information with any third party & no spam</p>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
