{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-seven.html" %} 

<div class="tungo-hero-section7" style="background-image: url(assets/images/hero/hero-bg7.png);">
  <div class="container">
    <div class="tungo-hero-content center mw-100">
      <h1>Discover the right place to suit all your needs</h1>
      <p>Welcome! Here's our building complex that we think you'll love. This is a unique property with all the features you could dream of. Discover a wide range of homes, apartments, and offices to suit your unique needs.</p>
      <div class="tungo-extra-mt">
        <a class="tungo-default-btn" href="property.html">Browse All Properties</a>
      </div>
      <a class="tungo-bottom-icon" href="#bottom-section"><img src="assets/images/icon/bottom-arrow.svg" alt=""></a>
    </div>
  </div>
</div>
<!-- End section -->

<div id="bottom-section" class="section tungo-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="tungo-thumb">
          <img src="assets/images/v7/thumb1.png" alt="">
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 offset-xl-1 d-flex align-items-center">
        <div class="tungo-default-content letter-spacing-reduce">
          <h2>Located in a prime urban location</h2>
          <p>Discover the epitome of luxury living in this stunning property. Our state-of-the-art building offers a range of stylishly luxurious and spacious apartments with panoramic city views.</p>
          <div class="tungo-extra-mt">
            <div class="tungo-user-wrap">
              <div class="tungo-user-thumb">
                <img src="assets/images/v1/user.png" alt="">
              </div>
              <div class="tungo-user-data">
                <p>“Enjoy our most spacious living spaces, state-of-the-art amenities & breathtaking views. Welcome home to the pinnacle of luxury living.”</p>
              </div>
            </div>
          </div>
          <div class="tungo-extra-mt">
            <a class="tungo-default-btn" href="contact-us.html">Discover More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section">
  <div class="tungo-portfolio-wrap3">
    <a class="tungo-portfolio-thumb3" href="single-property.html">
      <img src="assets/images/p1/p10.png" alt="">
      <div class="tungo-portfolio-title2">
        <h4>Grand Mansion</h4>
      </div>
    </a>
    <a class="tungo-portfolio-thumb3" href="single-property.html">
      <img src="assets/images/p1/p11.png" alt="">
      <div class="tungo-portfolio-title2">
        <h4>Duplex Apartment</h4>
      </div>
    </a>
    <a class="tungo-portfolio-thumb3" href="single-property.html">
      <img src="assets/images/p1/p12.png" alt="">
      <div class="tungo-portfolio-title2">
        <h4>Penthouse</h4>
      </div>
    </a>
    <a class="tungo-portfolio-thumb3" href="single-property.html">
      <img src="assets/images/p1/p13.png" alt="">
      <div class="tungo-portfolio-title2">
        <h4>Modern Urban Loft</h4>
      </div>
    </a>
    <a class="tungo-portfolio-thumb3" href="single-property.html">
      <img src="assets/images/p1/p14.png" alt="">
      <div class="tungo-portfolio-title2">
        <h4>Studio Apartment</h4>
      </div>
    </a>
    <a class="tungo-portfolio-thumb3" href="single-property.html">
      <img src="assets/images/p1/p15.png" alt="">
      <div class="tungo-portfolio-title2">
        <h4>Bachelor Apartment</h4>
      </div>
    </a>
  </div>
</div>
<!-- End section -->

<div class="section tungo-section-padding2">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="tungo-default-content letter-spacing-reduce">
          <h2>Luxurious top-notch amenities</h2>
          <p>Our amenities offered within our building complex are a blend of modern design, community-focused spaces and enhanced living experiences.</p>
          <div class="tungo-extra-mt">
            <a class="tungo-default-btn" href="contact-us.html">Schedule A Visit </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 offset-lg-1">
        <div class="tungo-iconbox-rightside">
          <div class="row">
            <div class="col-md-6">
              <div class="tungo-iconbox-wrap">
                <div class="tungo-iconbox-icon">
                  <img src="assets/images/iconbox/icon16.png" alt="">
                </div>
                <div class="tungo-iconbox-data">
                  <h4>Swimming Pool</h4>
                  <p>Dive into relaxation and recreation with our sparkling swimming pool. Whether you want to swim laps</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="tungo-iconbox-wrap">
                <div class="tungo-iconbox-icon">
                  <img src="assets/images/iconbox/icon17.png" alt="">
                </div>
                <div class="tungo-iconbox-data">
                  <h4>Fitness Center</h4>
                  <p>Stay active & healthy in our state-of-the-art fitness center equipped with cardio machines, and equipment.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="tungo-iconbox-wrap">
                <div class="tungo-iconbox-icon">
                  <img src="assets/images/iconbox/icon18.png" alt="">
                </div>
                <div class="tungo-iconbox-data">
                  <h4>Playground</h4>
                  <p>Let your kids have fun & also make friends at our playground. Designed with safety and enjoyment in mind.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="tungo-iconbox-wrap">
                <div class="tungo-iconbox-icon">
                  <img src="assets/images/iconbox/icon19.png" alt="">
                </div>
                <div class="tungo-iconbox-data">
                  <h4>Rooftop Terrace</h4>
                  <p>Take in breathtaking views on our rooftop terrace. Whether it's for a  hosting gatherings with friends.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="tungo-iconbox-wrap">
                <div class="tungo-iconbox-icon">
                  <img src="assets/images/iconbox/icon20.png" alt="">
                </div>
                <div class="tungo-iconbox-data">
                  <h4>Parking Spaces</h4>
                  <p>The convenience of designated  parking spaces within residential complex for residents and guests.</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="tungo-iconbox-wrap">
                <div class="tungo-iconbox-icon">
                  <img src="assets/images/iconbox/icon21.png" alt="">
                </div>
                <div class="tungo-iconbox-data">
                  <h4>Communal Lounge</h4>
                  <p>Gather with neighbors and socialize in our communal lounge area. With comfortable seating & perfect spot.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="container">
  <div class="tungo-diverder"></div>
</div>
<!-- End section -->

<div class="section tungo-section-padding">
  <div id="tungo-counter"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="tungo-thumb">
          <img src="assets/images/v7/thumb2.png" alt="">
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 offset-xl-1 d-flex align-items-center">
        <div class="tungo-default-content-wrap">
          <div class="tungo-default-content letter-spacing-reduce">
            <h2>We provide high-quality apartments</h2>
            <p>We have an in-depth knowledge of the building complex, including property values, trends & regulations, which sets us apart in serving our clients the best properties.</p>
          </div>
          <div class="tungo-extra-mt">
            <div class="tungo-counter-wrap mw-500">
              <div class="tungo-counter-data">
                <div class="tungo-counter-number"><span data-percentage="156" class="tungo-counter"></span><img src="assets/images/v1/c-icon1.png" alt=""></div>
                <p>Various home models</p>
              </div>
              <div class="tungo-counter-data">
                <div class="tungo-counter-number"><span data-percentage="43" class="tungo-counter"></span><img src="assets/images/v1/c-icon2.png" alt=""></div>
                <p>Types of green spaces</p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tungo-section-padding bg-off-white">
  <div class="container">
    <div class="tungo-section-title center">
      <h2>Explore our all-new available apartments</h2>
    </div>
  </div>
  <div class="tungo-properties-slider2">
    <div class="tungo-properties-wrap3 bg-white">
      <div class="tungo-properties-thumb3">
        <img src="assets/images/v4/properties1.png" alt="">
        <div class="tungo-properties-title">
          <a href="single-apartment.html"><h4>Modern Urban Loft, London</h4></a>
        </div>
      </div>
      <div class="tungo-properties-data3">
        <div class="tungo-properties-details">
          <h4>$1,50,000</h4>
        </div>
        <div class="tungo-properties-border"></div>
          <div class="tungo-properties-list">
            <ul>
              <li><img src="assets/images/v2/area.png" alt=""> 5,771 Sq. ft</li>
              <li><img src="assets/images/v2/bed.png" alt=""> 4 Bed</li>
              <li><img src="assets/images/v2/bath.png" alt=""> 3 Bath</li>
            </ul>
          </div>
      </div>
    </div>
    <div class="tungo-properties-wrap3 bg-white">
      <div class="tungo-properties-thumb3">
        <img src="assets/images/v4/properties2.png" alt="">
        <a class="tungo-properties-btn position-right" href="">Rent</a>
        <div class="tungo-properties-title">
          <a href="single-apartment.html"><h4>Duplex House, San Francisco</h4></a>
        </div>
      </div>
      <div class="tungo-properties-data3">
        <div class="tungo-properties-details">
          <h4>$2000/ <span>per month</span> </h4>
        </div>
        <div class="tungo-properties-border"></div>
          <div class="tungo-properties-list">
            <ul>
              <li><img src="assets/images/v2/area.png" alt=""> 1200 Sq. ft</li>
              <li><img src="assets/images/v2/bed.png" alt=""> 6 Bed</li>
              <li><img src="assets/images/v2/bath.png" alt=""> 6 Bath</li>
            </ul>
          </div>
      </div>
    </div>
    <div class="tungo-properties-wrap3 bg-white">
      <div class="tungo-properties-thumb3">
        <img src="assets/images/v4/properties3.png" alt="">
        <div class="tungo-properties-title">
          <a href="single-apartment.html"><h4>Garden Residence, New York</h4></a>
        </div>
      </div>
      <div class="tungo-properties-data3">
        <div class="tungo-properties-details">
          <h4>$10,85,645</h4>
        </div>
        <div class="tungo-properties-border"></div>
          <div class="tungo-properties-list">
            <ul>
              <li><img src="assets/images/v2/area.png" alt=""> 11,260 Sq. ft</li>
              <li><img src="assets/images/v2/bed.png" alt=""> 4 Bed</li>
              <li><img src="assets/images/v2/bath.png" alt=""> 3 Bath</li>
            </ul>
          </div>
      </div>
    </div>
    <div class="tungo-properties-wrap3 bg-white">
      <div class="tungo-properties-thumb3">
        <img src="assets/images/v4/properties4.png" alt="">
        <div class="tungo-properties-title">
          <a href="single-apartment.html"><h4>Retreat House, LA, California</h4></a>
        </div>
      </div>
      <div class="tungo-properties-data3">
        <div class="tungo-properties-details">
          <h4>$55,000</h4>
        </div>
        <div class="tungo-properties-border"></div>
          <div class="tungo-properties-list">
            <ul>
              <li><img src="assets/images/v2/area.png" alt=""> 3,000 Sq. ft</li>
              <li><img src="assets/images/v2/bed.png" alt=""> 2 Bed</li>
              <li><img src="assets/images/v2/bath.png" alt=""> 1 Bath</li>
            </ul>
          </div>
      </div>
    </div>
    <div class="tungo-properties-wrap3 bg-white">
      <div class="tungo-properties-thumb3">
        <img src="assets/images/v4/properties5.png" alt="">
        <a class="tungo-properties-btn position-right" href="">Rent</a>
        <div class="tungo-properties-title">
          <a href="single-apartment.html"><h4>Sea View Villa, Thailand</h4></a>
        </div>
      </div>
      <div class="tungo-properties-data3">
        <div class="tungo-properties-details">
          <h4>$3,500/ <span>per month</span> </h4>
        </div>
        <div class="tungo-properties-border"></div>
          <div class="tungo-properties-list">
            <ul>
              <li><img src="assets/images/v2/area.png" alt=""> 780 Sq. ft</li>
              <li><img src="assets/images/v2/bed.png" alt=""> 3 Bed</li>
              <li><img src="assets/images/v2/bath.png" alt=""> 2 Bath</li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="tungo-location-section bg-cover" style="background-image: url(assets/images/v3/location-bg.png)">
  <div class="container">
    <div class="tungo-location-wrap position-one">
      <div class="tungo-location-number">
        <h4>1</h4>
      </div>
      <div class="tungo-location-deatils">
        <div class="tungo-location-map">
          <img src="assets/images/v3/book.png" alt="">
        </div>
        <div class="tungo-location-data">
          <h4>Educational Institutions</h4>
          <p>0.5km</p>
        </div>
      </div>
    </div>
    <div class="tungo-location-wrap position-two">
      <div class="tungo-location-number">
        <h4>2</h4>
      </div>
      <div class="tungo-location-deatils">
        <div class="tungo-location-map">
          <img src="assets/images/v3/home.png" alt="">
        </div>
        <div class="tungo-location-data">
          <h4>Bank & ATMs</h4>
          <p>1km</p>
        </div>
      </div>
    </div>
    <div class="tungo-location-wrap position-three">
      <div class="tungo-location-number">
        <h4>3</h4>
      </div>
      <div class="tungo-location-deatils">
        <div class="tungo-location-map">
          <img src="assets/images/v3/hospital.png" alt="">
        </div>
        <div class="tungo-location-data">
          <h4>Hospital</h4>
          <p>1km</p>
        </div>
      </div>
    </div>
    <div class="tungo-location-wrap position-four">
      <div class="tungo-location-number">
        <h4>4</h4>
      </div>
      <div class="tungo-location-deatils">
        <div class="tungo-location-map">
          <img src="assets/images/v3/park.png" alt="">
        </div>
        <div class="tungo-location-data">
          <h4>Central Park</h4>
          <p>1.2km</p>
        </div>
      </div>
    </div>
    <div class="tungo-location-wrap position-five">
      <div class="tungo-location-number">
        <h4>5</h4>
      </div>
      <div class="tungo-location-deatils">
        <div class="tungo-location-map">
          <img src="assets/images/v3/cart.png" alt="">
        </div>
        <div class="tungo-location-data">
          <h4>Shopping Mall</h4>
          <p>1.5km</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="tungo-section-padding bg-off-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="tungo-section-title">
          <h2>Browse through our floor plans</h2>
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <div class='tungo-tab-buttons tungo-tab-buttons2 fz-small'>
          <span class='tab-content1'>Duplex</span>
          <span class='tab-content2'>Penthouse</span>
          <span class='tab-content3'>Loft</span>
          <span class='tab-content4'>Studio</span>
          <span class='tab-content5'>High Rise </span>
        </div>
      </div>
    </div>
    
    <div class="tungo-tab-wrap">
      <div class='tab-content'>
        <div class="tab-content1">
          <div class="row">
            <div class="col-lg-6">
              <div class="tungo-tab-content">
                <h3>Duplex Apartment:</h3>
                <p>A duplex is one-half of a house that has been divided into two. As a duplex renter, you share a wall with your neighbors. However, you can enjoy all the perks of living in a house at a slightly lower cost.</p>
                <div class="tungo-extra-mt">
                  <div class="tungo-flat-details">
                    <ul>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/area.png" alt="">
                          Total Area:
                        </div>
                        <span>1,850 sq. ft</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bed.png" alt="">
                          Bedrooms:
                        </div>
                        <span>04</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bath.png" alt="">
                          Bathrooms:
                        </div>
                        <span>03</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/view.png" alt="">
                          Outdoor View:
                        </div>
                        <span>03</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/price.png" alt="">
                          Price:
                        </div>
                        <span>$36,50,000</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
              <div class="tungo-tab-thumb">
                <img src="assets/images/v3/tab-thumb1.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-content2">
          <div class="row">
            <div class="col-lg-6">
              <div class="tungo-tab-content">
                <h3>Penthouse Apartment:</h3>
                <p>Our penthouse apartment is a unit that is located on the top floor of a building. They are considered to be luxury apartments & you won’t often find in other types of apartments.</p>
                <div class="tungo-extra-mt">
                  <div class="tungo-flat-details">
                    <ul>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/area.png" alt="">
                          Total Area:
                        </div>
                        <span>2000 sq. ft</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bed.png" alt="">
                          Bedrooms:
                        </div>
                        <span>06</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bath.png" alt="">
                          Bathrooms:
                        </div>
                        <span>08</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/view.png" alt="">
                          Outdoor View:
                        </div>
                        <span>03</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/price.png" alt="">
                          Price:
                        </div>
                        <span>$87,00,000</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
              <div class="tungo-tab-thumb">
                <img src="assets/images/v3/tab-thumb2.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-content3">
          <div class="row">
            <div class="col-lg-6">
              <div class="tungo-tab-content">
                <h3>Loft Apartment:</h3>
                <p>A loft apartment is similar in layout to a studio apartment. This type of apartment usually has an open and roomy vibe, and it’s perfect if you love having an apartment that you can move around in.</p>
                <div class="tungo-extra-mt">
                  <div class="tungo-flat-details">
                    <ul>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/area.png" alt="">
                          Total Area:
                        </div>
                        <span>1650 sq. ft</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bed.png" alt="">
                          Bedrooms:
                        </div>
                        <span>04</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bath.png" alt="">
                          Bathrooms:
                        </div>
                        <span>04</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/view.png" alt="">
                          Outdoor View:
                        </div>
                        <span>02</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/price.png" alt="">
                          Price:
                        </div>
                        <span>$56,93,000</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
              <div class="tungo-tab-thumb">
                <img src="assets/images/v3/tab-thumb3.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-content4">
          <div class="row">
            <div class="col-lg-6">
              <div class="tungo-tab-content">
                <h3>Studio Apartment:</h3>
                <p>A studio is a one-room apartment plus a bathroom. The open floor plan incorporates living space, bedroom space, and eating space. A studio is also recognized as a bachelor or efficiency apartment.</p>
                <div class="tungo-extra-mt">
                  <div class="tungo-flat-details">
                    <ul>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/area.png" alt="">
                          Total Area:
                        </div>
                        <span>2200 sq. ft</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bed.png" alt="">
                          Bedrooms:
                        </div>
                        <span>08</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bath.png" alt="">
                          Bathrooms:
                        </div>
                        <span>04</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/view.png" alt="">
                          Outdoor View:
                        </div>
                        <span>03</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/price.png" alt="">
                          Price:
                        </div>
                        <span>$98,00,000</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
              <div class="tungo-tab-thumb">
                <img src="assets/images/v3/tab-thumb4.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-content5">
          <div class="row">
            <div class="col-lg-6">
              <div class="tungo-tab-content">
                <h3>High Rise Apartment:</h3>
                <p>High Rise. To sum up, a high-rise apartment refers to the number of stories. Depending on location, the number of stories differs. High-rise apartments are the usual residential available in metropolitan cities.</p>
                <div class="tungo-extra-mt">
                  <div class="tungo-flat-details">
                    <ul>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/area.png" alt="">
                          Total Area:
                        </div>
                        <span>1400 sq. ft</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bed.png" alt="">
                          Bedrooms:
                        </div>
                        <span>03</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bath.png" alt="">
                          Bathrooms:
                        </div>
                        <span>02</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/view.png" alt="">
                          Outdoor View:
                        </div>
                        <span>03</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/price.png" alt="">
                          Price:
                        </div>
                        <span>$16,42,000</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
              <div class="tungo-tab-thumb">
                <img src="assets/images/v3/tab-thumb5.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tungo-section-padding">
  <div class="container">
    <div class="tungo-section-title center">
      <h2>Contact us today to request a viewing</h2>
    </div>
    <form action="#">
      <div class="tungo-form-wrap">
        <div class="row">
          <div class="col-lg-6">
            <div class="tungo-form-field">
              <label>Enter your name</label>
              <input type="text" placeholder="Adam Smith">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="tungo-form-field">
              <label>Select the date</label>
              <div class="form-container">
                <img src="assets/images/v1/calendar.png" alt="">
                <input type="text" placeholder="Pick a date" class="date-input">
             </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="tungo-form-field">
              <label>Phone number</label>
              <input type="number" placeholder="(123) 456 - 7890">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="tungo-form-field">
              <label>Email address</label>
              <input type="email" placeholder="example@gmail.com">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="tungo-form-field">
              <label>Message</label>
              <textarea name="textarea" placeholder="Write your message here..."></textarea>
            </div>
          </div>
          <div class="col-lg-12">
            <button id="tungo-submi-btn" type="submit">Send Message</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- End section -->


{% include "../templates/layout/header-footer/footer-seven.html" %} 
  
{% endblock %}
