{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/main-header.html" %} 

<div class="tungo-hero-section">
  <div class="tungo-hero-slider-init">
    <div class="tungo-hero-slider-item animated" data-animation-in="zoomInImage" style="background-image: url('assets/images/hero/hero-bg1.png')">
      <div class="container">
        <div class="tungo-hero-content center">
          <div class="animated" data-animation-in="fadeInRight">
            <h1>Sure! You will find your perfect property</h1>
            <p>Welcome! Here's a great single property we think you'll love. This is a unique property with all the features you could dream of. Discover a wide range of houses, apartments, and offices to suit your unique requirements.</p>
          </div>
          <div class="tungo-extra-mt animated" data-animation-in="fadeInUp">
            <a class="tungo-default-btn" href="property.html">Browse All Properties</a>
          </div>
        </div>
        <div class="tungo-slider-location animated" data-animation-in="fadeInUp">
          <h4>Main-level living home in Rancho Grande Estates</h4>
          <h4>Initial price:<br> $1,730,000</h4>
        </div>
      </div>
    </div>
    <div class="tungo-hero-slider-item animated" data-animation-in="zoomInImage" style="background-image: url('assets/images/hero/hero-bg2.png')">
      <div class="container">
              <div class="tungo-hero-content center">
          <div class="animated" data-animation-in="fadeInRight">
            <h1>The best properties that you truly deserve</h1>
            <p>Skip the hassle and headache of finding and listing your dream home! Let us show you how easy it can be to find a new home with us! We have over 1000 apartments, places and plots that make renting and buying property easy.</p>
          </div>
          <div class="tungo-extra-mt animated" data-animation-in="fadeInUp">
            <a class="tungo-default-btn" href="property.html">Browse All Properties</a>
          </div>
        </div>
        <div class="tungo-slider-location animated" data-animation-in="fadeInUp">
          <h4>Main-level living home in Rancho Grande Estates</h4>
          <h4>Initial price:<br> $1,830,000</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tungo-section-padding">
  <div id="tungo-counter"></div>
  <div class="container">
    <div class="tungo-counter-wrap">
      <div class="tungo-counter-data">
        <div class="tungo-counter-number"><span data-percentage="80" class="tungo-counter"></span><img src="assets/images/v1/c-icon1.png" alt=""></div>
        <p>Various home models</p>
      </div>
      <div class="tungo-counter-data">
        <div class="tungo-counter-number"><span data-percentage="12" class="tungo-counter"></span><img src="assets/images/v1/c-icon2.png" alt=""></div>
        <p>Nearest convenience store</p>
      </div>
      <div class="tungo-counter-data">
        <div class="tungo-counter-number"><span data-percentage="43" class="tungo-counter"></span><img src="assets/images/v1/c-icon3.png" alt=""></div>
        <p>Types of green spaces</p>
      </div>
      <div class="tungo-counter-data">
        <div class="tungo-counter-number"><span data-percentage="65" class="tungo-counter"></span><img src="assets/images/v1/c-icon4.png" alt=""></div>
        <p>Available parking spots</p>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="container">
  <div class="tungo-diverder"></div>
</div>
<!-- End -->

<div class="section tungo-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-6">
        <div class="tungo-thumb">
          <img src="assets/images/v1/thumb1.png" alt="">
        </div>
      </div>
      <div class="col-xl-6 offset-xl-1 col-lg-6 d-flex align-items-center">
        <div class="tungo-default-content">
          <h2>We're introducing a luxurious place</h2>
          <p>Put this luxury place on your travel list. It will make a nice home to live in your investor portfolio. This place is located in an established neighborhood and just needs a little updating. </p>
          <p>Seller is willing to rehab and sell at a price that will cover his costs or you can rent with 20% down and on-time monthly payments.</p>
          <div class="tungo-extra-mt">
            <a class="tungo-default-btn" href="contact-us.html">Discover More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tungo-section-padding bg-off-white">
  <div class="container">
    <div class="tungo-section-title center">
      <h2>Perfectly elegant complete floor plan</h2>
      <p>Each floor design combines aesthetic appeal with functionality, efficiency and thoughtful consideration of occupant needs and preferences.</p>
    </div>
    <div class="tungo-tab-wrap">
      <div class='tungo-tab-buttons'>
        <span class='tab-content1'>First Floor</span>
        <span class='tab-content2'>Second Floor</span>
        <span class='tab-content3'>Third Floor</span>
        <span class='tab-content4'>Fourth Floor</span>
        <span class='tab-content5'>Fifth Floor</span>
      </div>
      <div class='tab-content'>
        <div class="tab-content1">
          <div class="row">
            <div class="col-lg-5 d-flex align-items-center">
              <div class="tungo-tab-content">
                <h3>Open-concept living space:</h3>
                <p>This floor plan features a seamless flow between the kitchen, dining area, and living room, creating a spacious perfect for entertaining guests or family gatherings.</p>
                <div class="tungo-extra-mt">
                  <div class="tungo-flat-details">
                    <ul>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/area.png" alt="">
                          Total Area:
                        </div>
                        <span>1,850 sq. ft</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bed.png" alt="">
                          Bedrooms:
                        </div>
                        <span>04</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bath.png" alt="">
                          Bathrooms:
                        </div>
                        <span>03</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/view.png" alt="">
                          Outdoor View:
                        </div>
                        <span>03</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/price.png" alt="">
                          Price:
                        </div>
                        <span>$36,50,000</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-2">
              <div class="tungo-tab-thumb">
                <img src="assets/images/v1/tab-thumb1.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-content2">
          <div class="row">
            <div class="col-lg-5 d-flex align-items-center">
              <div class="tungo-tab-content">
                <h3>Luxurious master suite:</h3>
                <p>The master suite floor plan exudes elegance and comfort, with a spacious bedroom area featuring a tray ceiling and recessed lighting for added ambiance.</p>
                <div class="tungo-extra-mt">
                  <div class="tungo-flat-details">
                    <ul>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/area.png" alt="">
                          Total Area:
                        </div>
                        <span>2000 sq. ft</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bed.png" alt="">
                          Bedrooms:
                        </div>
                        <span>06</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bath.png" alt="">
                          Bathrooms:
                        </div>
                        <span>08</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/view.png" alt="">
                          Outdoor View:
                        </div>
                        <span>03</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/price.png" alt="">
                          Price:
                        </div>
                        <span>$87,00,000</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-2">
              <div class="tungo-tab-thumb">
                <img src="assets/images/v1/tab-thumb2.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-content3">
          <div class="row">
            <div class="col-lg-5 d-flex align-items-center">
              <div class="tungo-tab-content">
                <h3>Modern family home:</h3>
                <p>This floor plan is designed with the modern family in mind, offering a balance of open-concept living areas and private spaces for individual activities.</p>
                <div class="tungo-extra-mt">
                  <div class="tungo-flat-details">
                    <ul>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/area.png" alt="">
                          Total Area:
                        </div>
                        <span>1650 sq. ft</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bed.png" alt="">
                          Bedrooms:
                        </div>
                        <span>04</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bath.png" alt="">
                          Bathrooms:
                        </div>
                        <span>04</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/view.png" alt="">
                          Outdoor View:
                        </div>
                        <span>02</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/price.png" alt="">
                          Price:
                        </div>
                        <span>$56,93,000</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-2">
              <div class="tungo-tab-thumb">
                <img src="assets/images/v1/tab-thumb3.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-content4">
          <div class="row">
            <div class="col-lg-5 d-flex align-items-center">
              <div class="tungo-tab-content">
                <h3>Compact studio apartment:</h3>
                <p>Ideal for urban living, this studio apartment floor plan. The main living area combines a sleeping area, living room, and dining space into one cohesive area.</p>
                <div class="tungo-extra-mt">
                  <div class="tungo-flat-details">
                    <ul>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/area.png" alt="">
                          Total Area:
                        </div>
                        <span>2200 sq. ft</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bed.png" alt="">
                          Bedrooms:
                        </div>
                        <span>08</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bath.png" alt="">
                          Bathrooms:
                        </div>
                        <span>04</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/view.png" alt="">
                          Outdoor View:
                        </div>
                        <span>03</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/price.png" alt="">
                          Price:
                        </div>
                        <span>$98,00,000</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-2">
              <div class="tungo-tab-thumb">
                <img src="assets/images/v1/tab-thumb4.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-content5">
          <div class="row">
            <div class="col-lg-5 d-flex align-items-center">
              <div class="tungo-tab-content">
                <h3>Rustic mountain retreat:</h3>
                <p>Nestled in the mountains, this rustic retreat features a cozy floor plan designed to embrace its natural surroundings. The open-concept living area boasts exposed.</p>
                <div class="tungo-extra-mt">
                  <div class="tungo-flat-details">
                    <ul>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/area.png" alt="">
                          Total Area:
                        </div>
                        <span>1400 sq. ft</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bed.png" alt="">
                          Bedrooms:
                        </div>
                        <span>03</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bath.png" alt="">
                          Bathrooms:
                        </div>
                        <span>02</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/view.png" alt="">
                          Outdoor View:
                        </div>
                        <span>03</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/price.png" alt="">
                          Price:
                        </div>
                        <span>$16,42,000</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-2">
              <div class="tungo-tab-thumb">
                <img src="assets/images/v1/tab-thumb5.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="tungo-video-section" style="background-image: url(assets/images/v1/video-bg.png);">
  <div class="container">
    <a class="video-init tungo-video-icon" href="https://www.youtube.com/watch?v=kb6ip9YI1fQ">
      <img src="assets/images/v1/play-btn.png" alt="">
      <div class="waves wave-1"></div>
      <div class="waves wave-2"></div>
      <div class="waves wave-3"></div>
    </a>
    <div class="tungo-video-title">
      <h3>View Property Overview</h3>
    </div>
  </div>
  <div class="tungo-shape-one">
    <img src="assets/images/shape/shape1.png" alt="">
  </div>
</div>
<!-- End section -->

<div class="section tungo-section-padding bg-off-white">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 d-flex align-items-center">
        <div class="tungo-default-content">
          <h2>A place with all kinds of features</h2>
          <p>Discover the epitome of luxury living in this stunning property, boasting opulent features and meticulous attention to detail. From every aspect of this home exudes sophistication.</p>
          <div class="tungo-extra-mt">
            <div class="tungo-user-wrap">
              <div class="tungo-user-thumb">
                <img src="assets/images/v1/user.png" alt="">
              </div>
              <div class="tungo-user-data">
                <p>“Enjoy our most spacious living spaces, state-of-the-art amenities & breathtaking views. Welcome home to the pinnacle of luxury living.”</p>
                <img src="assets/images/v1/signature.png" alt="">
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-xl-5 col-lg-6 offset-xl-1">
        <div class="tungo-accordion-wrap init-wrap responsive-mt40">
            <div class="tungo-accordion-item open">
              <div class="tungo-accordion-header init-header">
                <img src="assets/images/v1/faq-icon1.png" alt="">
                <h4>Smart home technology</h4>
              </div>
              <div class="tungo-accordion-body init-body">
                <p>We allow you to control lighting, temperature, security, and entertainment systems with ease from your smartphone or tablet.</p>
              </div>
            </div>
            <div class="tungo-accordion-item">
              <div class="tungo-accordion-header init-header">
                <img src="assets/images/v1/faq-icon2.png" alt="">
                <h4>Outdoor living space:</h4>
              </div>
              <div class="tungo-accordion-body init-body">
                <p>Embrace indoor-outdoor living with a sprawling outdoor living space, featuring lush landscaping.</p>
              </div>
            </div>
            <div class="tungo-accordion-item">
              <div class="tungo-accordion-header init-header">
                <img src="assets/images/v1/faq-icon3.png" alt="">
                <h4>Spa-like bathroom</h4>
              </div>
              <div class="tungo-accordion-body init-body">
                <p>Unwind and rejuvenate in a spa-like bathroom retreat, complete with a luxurious soaking tub.</p>
              </div>
            </div>
            <div class="tungo-accordion-item">
              <div class="tungo-accordion-header init-header">
                <img src="assets/images/v1/faq-icon4.png" alt="">
                <h4>All types of security services</h4>
              </div>
              <div class="tungo-accordion-body init-body">
                <p>Monitoring of security alarm systems, including intrusion detection, fire alarms, and cameras.</p>
              </div>
            </div>
      
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tungo-section-padding z-index">
  <div class="container">
    <div class="tungo-section-title center">
      <h2>Check out our ideal property gallery</h2>
      <p>Each floor is designed by experienced interior designers. You can get a better experience by looking at gallery pictures.</p>
    </div>
    <div class="tungo-portfolio-wrap">
      <div class="tungo-portfolio-column-left">
        <a class="tungo-portfolio-thumb image-init" href="assets/images/p1/p1.png">
            <img src="assets/images/p1/p1.png" alt="">
            <div class="tungo-portfolio-link">
              <img src="assets/images/v1/portfolio-icon.svg" alt="">
            </div>
        </a>
      </div>
      <div class="tungo-portfolio-column-right">
        <a class="tungo-portfolio-thumb image-init" href="assets/images/p1/p2.png">
          <img src="assets/images/p1/p2.png" alt="">
          <div class="tungo-portfolio-link">
            <img src="assets/images/v1/portfolio-icon.svg" alt="">
          </div>
        </a>
        <a class="tungo-portfolio-thumb image-init" href="assets/images/p1/p3.png">
          <img src="assets/images/p1/p3.png" alt="">
          <div class="tungo-portfolio-link">
            <img src="assets/images/v1/portfolio-icon.svg" alt="">
          </div>
        </a>
        <a class="tungo-portfolio-thumb image-init" href="assets/images/p1/p4.png">
          <img src="assets/images/p1/p4.png" alt="">
          <div class="tungo-portfolio-link">
            <img src="assets/images/v1/portfolio-icon.svg" alt="">
          </div>
        </a>
        <a class="tungo-portfolio-thumb image-init" href="assets/images/p1/p5.png">
          <img src="assets/images/p1/p5.png" alt="">
          <div class="tungo-portfolio-link">
            <img src="assets/images/v1/portfolio-icon.svg" alt="">
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="tungo-shape-right">
    <img src="assets/images/shape/shape1.png" alt="">
  </div>
</div>
<!-- End section -->

<div class="container">
  <div class="tungo-diverder"></div>
</div>
<!-- End -->

<div class="section tungo-section-padding">
  <div class="container">
    <div class="tungo-section-title">
      <div class="row">
        <div class="col-lg-7">
          <h2>Contact us today for a free consultation</h2>
        </div>
        <div class="col-lg-5 d-flex align-items-center justify-content-end">
          <div class="tungo-section-title-des">
            <p>Feel free to reach out if you need help or have questions. We are here to assist and provide information whenever you need it.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-5">
        <div id="map"></div>
      </div>
      <div class="col-xl-6 col-lg-7">
        <form action="#">
          <div class="tungo-form-wrap">
            <div class="row">
              <div class="col-lg-6">
                <div class="tungo-form-field">
                  <label>Enter your name</label>
                  <input type="text" placeholder="Adam Smith">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="tungo-form-field">
                  <label>Select the date</label>
                  <div class="form-container">
                    <img src="assets/images/v1/calendar.png" alt="">
                    <input type="text" placeholder="Pick a date" class="date-input">
                 </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="tungo-form-field">
                  <label>Phone number</label>
                  <input type="number" placeholder="(123) 456 - 7890">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="tungo-form-field">
                  <label>Email address</label>
                  <input type="email" placeholder="example@gmail.com">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="tungo-form-field">
                  <label>Message</label>
                  <textarea name="textarea" placeholder="Write your message here..."></textarea>
                </div>
              </div>
              <div class="col-lg-12">
                <button id="tungo-submi-btn" type="submit">Send Message</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section">
  <div class="tungo-insta-slider-init">
    <div class="tungo-insta-slider-item">
      <div class="tungo-insta-slider-thumb">
        <img src="assets/images/v1/insta1.png" alt="">
        <div class="tungo-insta-slider-data">
          <a href="https://www.instagram.com/">
            <img src="assets/images/v1/insta.png" alt="">
          </a>
          <a class="tungo-insta-slider-title" href="https://mthemeus.com/"><h3>@mthemeus</h3></a>
        </div>
      </div>
    </div>
    <div class="tungo-insta-slider-item">
      <div class="tungo-insta-slider-thumb">
        <img src="assets/images/v1/insta2.png" alt="">
        <div class="tungo-insta-slider-data">
          <a href="https://www.instagram.com/">
            <img src="assets/images/v1/insta.png" alt="">
          </a>
          <a class="tungo-insta-slider-title" href="https://mthemeus.com/"><h3>@mthemeus</h3></a>
        </div>
      </div>
    </div>
    <div class="tungo-insta-slider-item">
      <div class="tungo-insta-slider-thumb">
        <img src="assets/images/v1/insta3.png" alt="">
        <div class="tungo-insta-slider-data">
          <a href="https://www.instagram.com/">
            <img src="assets/images/v1/insta.png" alt="">
          </a>
          <a class="tungo-insta-slider-title" href="https://mthemeus.com/"><h3>@mthemeus</h3></a>
        </div>
      </div>
    </div>
    <div class="tungo-insta-slider-item">
      <div class="tungo-insta-slider-thumb">
        <img src="assets/images/v1/insta4.png" alt="">
        <div class="tungo-insta-slider-data">
          <a href="https://www.instagram.com/">
            <img src="assets/images/v1/insta.png" alt="">
          </a>
          <a class="tungo-insta-slider-title" href="https://mthemeus.com/"><h3>@mthemeus</h3></a>
        </div>
      </div>
    </div>
    <div class="tungo-insta-slider-item">
      <div class="tungo-insta-slider-thumb">
        <img src="assets/images/v1/insta5.png" alt="">
        <div class="tungo-insta-slider-data">
          <a href="https://www.instagram.com/">
            <img src="assets/images/v1/insta.png" alt="">
          </a>
          <a class="tungo-insta-slider-title" href="https://mthemeus.com/"><h3>@mthemeus</h3></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->


{% include "../templates/layout/header-footer/main-footer.html" %} 
  
{% endblock %}
