{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-three.html" %} 

<div class="tungo-hero-section3" style="background-image: url('assets/images/hero/hero-bg4.png')">
  <div class="container">
    <div class="row tungo_screenfix_right">
      <div class="col-lg-6 d-flex align-items-end">
        <div class="tungo-hero-content hero-content3">
          <h1>Space for your luxury living</h1>
          <p>Welcome to our vibrant residential complex, where modern living meets community amenities. We offers a variety of accommodation options from stylish apartments to spacious townhomes all set within beautifully.</p>
        <div class="tungo-extra-mt">
          <div class="tungo-subscription-three">
            <form action="#">
              <input type="search" placeholder="Search Property...">
              <button id="tungo-search-btn" type="button">
                Search
              </button>
              <div class="tungo-search-icon">
                <img src="assets/images/icon/search.svg" alt="">
              </div>
            </form>
          </div>
        </div>
        <div class="tungo-brand-wrap">
          <h6>Our most trusted partners and investors:</h6>
          <div class="tungo-brand-column">
            <div class="tungo-brand-item">
              <img src="assets/images/v3/brand1.png" alt="">
            </div>
            <div class="tungo-brand-item">
              <img src="assets/images/v3/brand2.png" alt="">
            </div>
            <div class="tungo-brand-item">
              <img src="assets/images/v3/brand3.png" alt="">
            </div>
            <div class="tungo-brand-item">
              <img src="assets/images/v3/brand4.png" alt="">
            </div>
            <div class="tungo-brand-item">
              <img src="assets/images/v3/brand5.png" alt="">
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="col-lg-6">
        <div class="tungo-hero-thumb-slider-init">
          <div class="tungo-hero-thumb-slider">
            <img src="assets/images/hero/h-slider-thumb1.png" alt="">
          </div>
          <div class="tungo-hero-thumb-slider">
            <img src="assets/images/hero/h-slider-thumb2.png" alt="">
          </div>
          <div class="tungo-hero-thumb-slider">
            <img src="assets/images/hero/h-slider-thumb3.png" alt="">
          </div>
          <div class="tungo-hero-thumb-slider">
            <img src="assets/images/hero/h-slider-thumb4.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tungo-section-padding4">
  <div class="container">
    <div class="tungo-section-title center">
      <h2>Select an apartment that suits your needs</h2>
      <p>Discover the ideal place to call home in our residential complex. With onsite management & security, you can experience peace of mind.</p>
    </div>
    <div class="row">
      <div class="col-xl-4 col-md-6">
        <div class="tungo-properties-wrap2">
          <div class="tungo-properties-thumb2">
            <img src="assets/images/v3/thumb1.png" alt="">
          </div>
          <div class="tungo-properties-data2">
            <div class="tungo-properties-list">
              <ul>
                <li><img src="assets/images/v2/area.png" alt=""> 1200 Sq. ft</li>
                <li><img src="assets/images/v2/bed.png" alt=""> 6 Bed</li>
                <li><img src="assets/images/v2/bath.png" alt=""> 6 Bath</li>
              </ul>
            </div>
            <div class="tungo-properties-border"></div>
            <a href="single-apartment.html">
              <div class="tungo-properties-details">
                <h4>Duplex Apartment</h4>
                <img src="assets/images/icon/arrow-right-black.svg" alt="">
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tungo-properties-wrap2">
          <div class="tungo-properties-thumb2">
            <img src="assets/images/v3/thumb2.png" alt="">
          </div>
          <div class="tungo-properties-data2">
            <div class="tungo-properties-list">
              <ul>
                <li><img src="assets/images/v2/area.png" alt=""> 800 Sq. ft</li>
                <li><img src="assets/images/v2/bed.png" alt=""> 4 Bed</li>
                <li><img src="assets/images/v2/bath.png" alt=""> 3 Bath</li>
              </ul>
            </div>
            <div class="tungo-properties-border"></div>
            <a href="single-apartment.html">
              <div class="tungo-properties-details">
                <h4>Penthouse</h4>
                <img src="assets/images/icon/arrow-right-black.svg" alt="">
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tungo-properties-wrap2">
          <div class="tungo-properties-thumb2">
            <img src="assets/images/v3/thumb3.png" alt="">
          </div>
          <div class="tungo-properties-data2">
            <div class="tungo-properties-list">
              <ul>
                <li><img src="assets/images/v2/area.png" alt=""> 1100 Sq. ft</li>
                <li><img src="assets/images/v2/bed.png" alt=""> 5 Bed</li>
                <li><img src="assets/images/v2/bath.png" alt=""> 3 Bath</li>
              </ul>
            </div>
            <div class="tungo-properties-border"></div>
            <a href="single-apartment.html">
              <div class="tungo-properties-details">
                <h4>Loft Apartment</h4>
                <img src="assets/images/icon/arrow-right-black.svg" alt="">
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tungo-properties-wrap2">
          <div class="tungo-properties-thumb2">
            <img src="assets/images/v3/thumb4.png" alt="">
          </div>
          <div class="tungo-properties-data2">
            <div class="tungo-properties-list">
              <ul>
                <li><img src="assets/images/v2/area.png" alt=""> 1000 Sq. ft</li>
                <li><img src="assets/images/v2/bed.png" alt=""> 4 Bed</li>
                <li><img src="assets/images/v2/bath.png" alt=""> 4 Bath</li>
              </ul>
            </div>
            <div class="tungo-properties-border"></div>
            <a href="single-apartment.html">
              <div class="tungo-properties-details">
                <h4>High Rise Apartment</h4>
                <img src="assets/images/icon/arrow-right-black.svg" alt="">
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tungo-properties-wrap2">
          <div class="tungo-properties-thumb2">
            <img src="assets/images/v3/thumb5.png" alt="">
          </div>
          <div class="tungo-properties-data2">
            <div class="tungo-properties-list">
              <ul>
                <li><img src="assets/images/v2/area.png" alt=""> 600 Sq. ft</li>
                <li><img src="assets/images/v2/bed.png" alt=""> 2 Bed</li>
                <li><img src="assets/images/v2/bath.png" alt=""> 1 Bath</li>
              </ul>
            </div>
            <div class="tungo-properties-border"></div>
            <a href="single-apartment.html">
              <div class="tungo-properties-details">
                <h4>Studio Apartment</h4>
                <img src="assets/images/icon/arrow-right-black.svg" alt="">
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tungo-properties-wrap2">
          <div class="tungo-properties-thumb2">
            <img src="assets/images/v3/thumb6.png" alt="">
          </div>
          <div class="tungo-properties-data2">
            <div class="tungo-properties-list">
              <ul>
                <li><img src="assets/images/v2/area.png" alt=""> 900 Sq. ft</li>
                <li><img src="assets/images/v2/bed.png" alt=""> 4 Bed</li>
                <li><img src="assets/images/v2/bath.png" alt=""> 3 Bath</li>
              </ul>
            </div>
            <div class="tungo-properties-border"></div>
            <a href="single-apartment.html">
              <div class="tungo-properties-details">
                <h4>Basement Apartment</h4>
                <img src="assets/images/icon/arrow-right-black.svg" alt="">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="container">
  <div class="tungo-diverder"></div>
</div>

<div class="section tungo-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-6">
        <div class="tungo-thumb">
          <img src="assets/images/v3/thumb7.png" alt="">
        </div>
      </div>
      <div class="col-xl-7 col-lg-6">
        <div class="tungo-default-content ml-85">
          <h2>Located in a prime urban location</h2>
          <p>Discover the epitome of luxury living in this stunning property. Our state-of-the-art building offers a range of stylishly luxurious and spacious apartments with panoramic city views.</p>
          <div class="tungo-extra-mt">
            <div class="tungo-user-wrap">
              <div class="tungo-user-thumb">
                <img src="assets/images/v1/user.png" alt="">
              </div>
              <div class="tungo-user-data">
                <p>“Enjoy our most spacious living spaces, state-of-the-art amenities & breathtaking views. Welcome home to the pinnacle of luxury living.”</p>
                <img src="assets/images/v1/signature.png" alt="">
              </div>
            </div>
          </div>
          
        </div>
      </div>
    
    </div>
  </div>
</div>
<!-- End section -->

<div class="tungo-location-section bg-cover" style="background-image: url(assets/images/v3/location-bg.png)">
  <div class="container">
    <div class="tungo-location-wrap position-one">
      <div class="tungo-location-number">
        <h4>1</h4>
      </div>
      <div class="tungo-location-deatils">
        <div class="tungo-location-map">
          <img src="assets/images/v3/book.png" alt="">
        </div>
        <div class="tungo-location-data">
          <h4>Educational Institutions</h4>
          <p>0.5km</p>
        </div>
      </div>
    </div>
    <div class="tungo-location-wrap position-two">
      <div class="tungo-location-number">
        <h4>2</h4>
      </div>
      <div class="tungo-location-deatils">
        <div class="tungo-location-map">
          <img src="assets/images/v3/home.png" alt="">
        </div>
        <div class="tungo-location-data">
          <h4>Bank & ATMs</h4>
          <p>1km</p>
        </div>
      </div>
    </div>
    <div class="tungo-location-wrap position-three">
      <div class="tungo-location-number">
        <h4>3</h4>
      </div>
      <div class="tungo-location-deatils">
        <div class="tungo-location-map">
          <img src="assets/images/v3/hospital.png" alt="">
        </div>
        <div class="tungo-location-data">
          <h4>Hospital</h4>
          <p>1km</p>
        </div>
      </div>
    </div>
    <div class="tungo-location-wrap position-four">
      <div class="tungo-location-number">
        <h4>4</h4>
      </div>
      <div class="tungo-location-deatils">
        <div class="tungo-location-map">
          <img src="assets/images/v3/park.png" alt="">
        </div>
        <div class="tungo-location-data">
          <h4>Central Park</h4>
          <p>1.2km</p>
        </div>
      </div>
    </div>
    <div class="tungo-location-wrap position-five">
      <div class="tungo-location-number">
        <h4>5</h4>
      </div>
      <div class="tungo-location-deatils">
        <div class="tungo-location-map">
          <img src="assets/images/v3/cart.png" alt="">
        </div>
        <div class="tungo-location-data">
          <h4>Shopping Mall</h4>
          <p>1.5km</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="tungo-section-padding">
  <div class="container">
    <div class="tungo-section-title center">
      <h2>Perfectly elegant complete floor plan</h2>
      <p>Each floor design combines aesthetic appeal with functionality, efficiency and thoughtful consideration of occupant needs and preferences.</p>
    </div>
    <div class="tungo-tab-wrap">
      <div class='tungo-tab-buttons tungo-tab-buttons2'>
        <span class='tab-content1'>Duplex</span>
        <span class='tab-content2'>Penthouse</span>
        <span class='tab-content3'>Loft</span>
        <span class='tab-content4'>Studio</span>
        <span class='tab-content5'>High Rise </span>
      </div>
      <div class='tab-content'>
        <div class="tab-content1">
          <div class="row">
            <div class="col-lg-6">
              <div class="tungo-tab-content">
                <h3>Duplex Apartment:</h3>
                <p>A duplex is one-half of a house that has been divided into two. As a duplex renter, you share a wall with your neighbors. However, you can enjoy all the perks of living in a house at a slightly lower cost.</p>
                <div class="tungo-extra-mt">
                  <div class="tungo-flat-details">
                    <ul>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/area.png" alt="">
                          Total Area:
                        </div>
                        <span>1,850 sq. ft</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bed.png" alt="">
                          Bedrooms:
                        </div>
                        <span>04</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bath.png" alt="">
                          Bathrooms:
                        </div>
                        <span>03</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/view.png" alt="">
                          Outdoor View:
                        </div>
                        <span>03</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/price.png" alt="">
                          Price:
                        </div>
                        <span>$36,50,000</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
              <div class="tungo-tab-thumb">
                <img src="assets/images/v3/tab-thumb1.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-content2">
          <div class="row">
            <div class="col-lg-6">
              <div class="tungo-tab-content">
                <h3>Penthouse Apartment:</h3>
                <p>Our penthouse apartment is a unit that is located on the top floor of a building. They are considered to be luxury apartments & you won’t often find in other types of apartments.</p>
                <div class="tungo-extra-mt">
                  <div class="tungo-flat-details">
                    <ul>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/area.png" alt="">
                          Total Area:
                        </div>
                        <span>2000 sq. ft</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bed.png" alt="">
                          Bedrooms:
                        </div>
                        <span>06</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bath.png" alt="">
                          Bathrooms:
                        </div>
                        <span>08</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/view.png" alt="">
                          Outdoor View:
                        </div>
                        <span>03</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/price.png" alt="">
                          Price:
                        </div>
                        <span>$87,00,000</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
              <div class="tungo-tab-thumb">
                <img src="assets/images/v3/tab-thumb2.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-content3">
          <div class="row">
            <div class="col-lg-6">
              <div class="tungo-tab-content">
                <h3>Loft Apartment:</h3>
                <p>A loft apartment is similar in layout to a studio apartment. This type of apartment usually has an open and roomy vibe, and it’s perfect if you love having an apartment that you can move around in.</p>
                <div class="tungo-extra-mt">
                  <div class="tungo-flat-details">
                    <ul>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/area.png" alt="">
                          Total Area:
                        </div>
                        <span>1650 sq. ft</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bed.png" alt="">
                          Bedrooms:
                        </div>
                        <span>04</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bath.png" alt="">
                          Bathrooms:
                        </div>
                        <span>04</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/view.png" alt="">
                          Outdoor View:
                        </div>
                        <span>02</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/price.png" alt="">
                          Price:
                        </div>
                        <span>$56,93,000</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
              <div class="tungo-tab-thumb">
                <img src="assets/images/v3/tab-thumb3.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-content4">
          <div class="row">
            <div class="col-lg-6">
              <div class="tungo-tab-content">
                <h3>Studio Apartment:</h3>
                <p>A studio is a one-room apartment plus a bathroom. The open floor plan incorporates living space, bedroom space, and eating space. A studio is also recognized as a bachelor or efficiency apartment.</p>
                <div class="tungo-extra-mt">
                  <div class="tungo-flat-details">
                    <ul>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/area.png" alt="">
                          Total Area:
                        </div>
                        <span>2200 sq. ft</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bed.png" alt="">
                          Bedrooms:
                        </div>
                        <span>08</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bath.png" alt="">
                          Bathrooms:
                        </div>
                        <span>04</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/view.png" alt="">
                          Outdoor View:
                        </div>
                        <span>03</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/price.png" alt="">
                          Price:
                        </div>
                        <span>$98,00,000</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
              <div class="tungo-tab-thumb">
                <img src="assets/images/v3/tab-thumb4.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-content5">
          <div class="row">
            <div class="col-lg-6">
              <div class="tungo-tab-content">
                <h3>High Rise Apartment:</h3>
                <p>High Rise. To sum up, a high-rise apartment refers to the number of stories. Depending on location, the number of stories differs. High-rise apartments are the usual residential available in metropolitan cities.</p>
                <div class="tungo-extra-mt">
                  <div class="tungo-flat-details">
                    <ul>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/area.png" alt="">
                          Total Area:
                        </div>
                        <span>1400 sq. ft</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bed.png" alt="">
                          Bedrooms:
                        </div>
                        <span>03</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/bath.png" alt="">
                          Bathrooms:
                        </div>
                        <span>02</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/view.png" alt="">
                          Outdoor View:
                        </div>
                        <span>03</span>
                      </li>
                      <li>
                        <div class="tung-flat">
                          <img src="assets/images/v1/price.png" alt="">
                          Price:
                        </div>
                        <span>$16,42,000</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
              <div class="tungo-tab-thumb">
                <img src="assets/images/v3/tab-thumb5.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="ssection z-index blue-bg tungo-section-padding2">
  <div class="container">
    <div class="tungo-section-title light-color">
      <div class="row">
        <div class="col-lg-7">
          <h2>Enjoy access to our top-notch amenities</h2>
        </div>
        <div class="col-lg-5 d-flex justify-content-end align-items-center">
          <div class="tungo-title-btn">
            <a class="tungo-default-btn" href="contact-us.html">Schedule A Visit</a>
          </div>
        </div>
      </div>
    </div>

    <div class="tungo-iconbox-column2">
      <div class="tungo-iconbox-wrap2">
        <div class="tungo-iconbox-icon2">
          <img src="assets/images/iconbox/icon4.png" alt="">
        </div>
        <div class="tungo-iconbox-data2">
          <h4>Swimming Pool</h4>
          <p>Dive into relaxation and recreation with our sparkling swimming pool. Whether you want to swim laps for exercise.</p>
        </div>
      </div>
      <div class="tungo-iconbox-wrap2">
        <div class="tungo-iconbox-icon2">
          <img src="assets/images/iconbox/icon5.png" alt="">
        </div>
        <div class="tungo-iconbox-data2">
          <h4>Fitness Center</h4>
          <p>Stay active & healthy in our state-of-the-art fitness center equipped with cardio machines, training equipment.</p>
        </div>
      </div>
      <div class="tungo-iconbox-wrap2">
        <div class="tungo-iconbox-icon2">
          <img src="assets/images/iconbox/icon6.png" alt="">
        </div>
        <div class="tungo-iconbox-data2">
          <h4>Parking Spaces</h4>
          <p>Enjoy the convenience of designated  parking spaces within our residential complex for residents and guests.</p>
        </div>
      </div>
      <div class="tungo-iconbox-wrap2">
        <div class="tungo-iconbox-icon2">
          <img src="assets/images/iconbox/icon7.png" alt="">
        </div>
        <div class="tungo-iconbox-data2">
          <h4>Playground</h4>
          <p>Let your kids have fun and make friends at our playground area. Designed with safety and enjoyment in mind.</p>
        </div>
      </div>
      <div class="tungo-iconbox-wrap2">
        <div class="tungo-iconbox-icon2">
          <img src="assets/images/iconbox/icon8.png" alt="">
        </div>
        <div class="tungo-iconbox-data2">
          <h4>Rooftop Terrace</h4>
          <p>Take in breathtaking views & unwind on our rooftop terrace. Whether it's for a  hosting gatherings with friends.</p>
        </div>
      </div>
      <div class="tungo-iconbox-wrap2">
        <div class="tungo-iconbox-icon2">
          <img src="assets/images/iconbox/icon9.png" alt="">
        </div>
        <div class="tungo-iconbox-data2">
          <h4>Communal Lounge</h4>
          <p>Gather with neighbors and socialize in our communal lounge area. With comfortable seating & perfect spot for events.</p>
        </div>
      </div>
      <div class="tungo-iconbox-border1"></div>
      <div class="tungo-iconbox-border2"></div>
      <div class="tungo-iconbox-border3"></div>
  </div>
  </div>
  <div class="tungo-shape-two wow fadeInLeft" data-wow-delay=".3s">
    <img src="assets/images/shape/shape2.png" alt="">
  </div>
</div>
<!-- End section -->

<div class="section tungo-section-padding4">
  <div class="container">
      <div class="tungo-section-title center">
        <h2>Evolution of modern residential complex</h2>
        <p>Each floor is designed by experienced interior designers. You can get a better experience by viewing the residential gallery pictures.</p>
      </div>
     <div class="tungo-gallery-slider">
      <div class="tungo-gallery-slider-thumb">
        <img src="assets/images/v3/g-slider1.png" alt="">
      </div>
      <div class="tungo-gallery-slider-thumb">
        <img src="assets/images/v3/g-slider2.png" alt="">
      </div>
      <div class="tungo-gallery-slider-thumb">
        <img src="assets/images/v3/g-slider3.png" alt="">
      </div>
      <div class="tungo-gallery-slider-thumb">
        <img src="assets/images/v3/g-slider4.png" alt="">
      </div>
     </div>
     <div class="tungo-gallery-slider-nav">
      <div class="tungo-gallery-slider-thumb">
        <img src="assets/images/v3/g-nav1.png" alt="">
      </div>
      <div class="tungo-gallery-slider-thumb">
        <img src="assets/images/v3/g-nav2.png" alt="">
      </div>
      <div class="tungo-gallery-slider-thumb">
        <img src="assets/images/v3/g-nav3.png" alt="">
      </div>
      <div class="tungo-gallery-slider-thumb">
        <img src="assets/images/v3/g-nav4.png" alt="">
      </div>
     </div>
  </div>
</div>
<!-- End section -->

<div class="container">
  <div class="tungo-diverder"></div>
</div>

<div class="section tungo-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <div class="tungo-default-content">
          <h2>Get answers to all your questions</h2>
          <p>We understand that you are considering our residential complex, so we have created a collection of frequently asked questions.</p>
          <div class="tungo-extra-mt">
            <a class="tungo-default-btn" href="contact-02.html">Get In Touch</a>
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-lg-6 offset-xl-1">
        <div class="tungo-accordion-wrap2 init-wrap responsive-mt40">
            <div class="tungo-accordion-item2 open">
              <div class="tungo-accordion-header2 init-header">
                <h4>Is the residential complex secure?</h4>
              </div>
              <div class="tungo-accordion-body2 init-body">
                <p>Yes, we prioritize resident safety with security measures including controlled access, surveillance cameras, and possibly onsite security personnel.</p>
              </div>
            </div>
            <div class="tungo-accordion-item2">
              <div class="tungo-accordion-header2 init-header">
                <h4>Is there onsite management available?</h4>
              </div>
              <div class="tungo-accordion-body2 init-body">
                <p>Embrace indoor-outdoor living with a sprawling outdoor living space, featuring lush landscaping.</p>
              </div>
            </div>
            <div class="tungo-accordion-item2">
              <div class="tungo-accordion-header2 init-header">
                <h4>Are pets allowed in the complex?</h4>
              </div>
              <div class="tungo-accordion-body2 init-body">
                <p>Unwind and rejuvenate in a spa-like bathroom retreat, complete with a luxurious soaking tub.</p>
              </div>
            </div>
            <div class="tungo-accordion-item2">
              <div class="tungo-accordion-header2 init-header">
                <h4>What are the lease terms & rental rates?</h4>
              </div>
              <div class="tungo-accordion-body2 init-body">
                <p>Our lease terms and rental rates vary based on unit size, location, and amenities. Please contact us for specific details and availability.</p>
              </div>
            </div>

            <div class="tungo-accordion-item2">
              <div class="tungo-accordion-header2 init-header">
                <h4>Is the complex environmentally friendly?</h4>
              </div>
              <div class="tungo-accordion-body2 init-body">
                <p>Monitoring of security alarm systems, including intrusion detection, fire alarms, and cameras.</p>
              </div>
            </div>
      
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section blue-bg tungo-section-padding100">
  <div id="tungo-counter"></div>
  <div class="container">
      <div class="tungo-counter-wrap3">
        <div class="tungo-counter-data3">
          <div class="tungo-counter-number light-color2"><span data-percentage="80" class="tungo-counter"></span><img src="assets/images/v1/c-icon1.png" alt=""></div>
          <p>Various home models</p>
        </div>
        <div class="tungo-counter-data3">
          <div class="tungo-counter-number light-color2"><span data-percentage="12" class="tungo-counter"></span><img src="assets/images/v1/c-icon2.png" alt=""></div>
          <p>Nearest convenience store</p>
        </div>
        <div class="tungo-counter-data3">
          <div class="tungo-counter-number light-color2"><span data-percentage="43" class="tungo-counter"></span><img src="assets/images/v1/c-icon3.png" alt=""></div>
          <p>Types of green spaces</p>
        </div>
        <div class="tungo-counter-data3">
          <div class="tungo-counter-number light-color2"><span data-percentage="65" class="tungo-counter"></span><img src="assets/images/v1/c-icon4.png" alt=""></div>
          <p>Available parking spots</p>
        </div>
      </div>
  </div>
</div>
<!-- End section -->

<div class="section tungo-section-padding4">
  <div class="container">
    <div class="tungo-section-title center">
      <h2>Contact us today to request a viewing</h2>
      <p>Feel free to reach out if you need help or have questions. We are here to assist and provide information whenever you need it.</p>
    </div>
    <form action="#">
      <div class="tungo-form-wrap bg-off-white border-0">
        <div class="row">
          <div class="col-lg-6">
            <div class="tungo-form-field">
              <label>Enter your name</label>
              <input type="text" placeholder="Adam Smith">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="tungo-form-field">
              <label>Select the date</label>
              <div class="form-container">
                <img src="assets/images/v1/calendar.png" alt="">
                <input type="text" placeholder="Pick a date" class="date-input">
             </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="tungo-form-field">
              <label>Phone number</label>
              <input type="number" placeholder="(123) 456 - 7890">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="tungo-form-field">
              <label>Email address</label>
              <input type="email" placeholder="example@gmail.com">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="tungo-form-field">
              <label>Message</label>
              <textarea name="textarea" placeholder="Write your message here..."></textarea>
            </div>
          </div>
          <div class="col-lg-12">
            <button id="tungo-submi-btn" type="submit">Send Message</button>
          </div>
        </div>
      </div>
    </form>
    <div class="row rt-mt-40">
      <div class="col-xl-4 col-md-6">
        <div class="tungo-contact-info3">
          <h4>Head office:</h4>
          <p>South of Howard Street, San <br> Francisco Market 10203 USA</p>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tungo-contact-info3">
          <h4>Write to us:</h4>
          <a href="mailto:name@email.com">mthemeus@gmail.com</a>
          <a href="mailto:name@email.com">example@gmail.com</a>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tungo-contact-info3">
          <h4>Call us:</h4>
          <a href="tel:123">+088-234-6849</a>
          <a href="tel:123">+088-541-8273</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->


{% include "../templates/layout/header-footer/footer-three.html" %} 
  
{% endblock %}
