{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-six.html" %} 

<div class="tungo-hero-section6">
    <div class="tungo-hero-thumb6">
      <img src="assets/images/hero/hero-bg6.png" alt="">
      <div class="tungo-hero-shape">
        <img src="assets/images/shape/shape5.png" alt="">
      </div>
    </div>
</div>
<!-- End section -->


<div class="section tungo-section-padding4">
  <div class="container">
    <div class="tungo-section-title center">
      <h2>First-floor plan</h2>
      <p>First floors are basement apartments below street level and below ground level, usually accessed from the street or by a staircase.</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="tungo-floor-plan-wrap">
          <div class="tungo-floor-plan-thumb">
            <img src="assets/images/v6/3d-image1.png" alt="">
          </div>
          <div class="tungo-floor-plan-data">
            <a href="single-apartment.html">
              <h4>4 Room Apartment</h4>
            </a>
            <div class="tungo-properties-list">
              <ul>
                <li><img src="assets/images/v2/area.png" alt=""> 1000 Sq. ft</li>
                <li><img src="assets/images/v2/bed.png" alt=""> 4 Bed</li>
                <li><img src="assets/images/v2/bath.png" alt=""> 2 Bath</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="tungo-floor-plan-wrap">
          <div class="tungo-floor-plan-thumb">
            <img src="assets/images/v6/3d-image2.png" alt="">
          </div>
          <div class="tungo-floor-plan-data">
            <a href="single-apartment.html">
              <h4>2 Room Apartment</h4>
            </a>
            <div class="tungo-properties-list">
              <ul>
                <li><img src="assets/images/v2/area.png" alt=""> 800 Sq. ft</li>
                <li><img src="assets/images/v2/bed.png" alt=""> 2 Bed</li>
                <li><img src="assets/images/v2/bath.png" alt=""> 1 Bath</li>
              </ul>
            </div>
          </div>
          <a class="tungo-properties-btn position-right" href="">Sold</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
        <div class="tungo-floor-plan-wrap">
          <div class="tungo-floor-plan-thumb">
            <img src="assets/images/v6/3d-image3.png" alt="">
          </div>
          <div class="tungo-floor-plan-data">
            <a href="single-apartment.html">
              <h4>3 Room Apartment</h4>
            </a>
            <div class="tungo-properties-list">
              <ul>
                <li><img src="assets/images/v2/area.png" alt=""> 1100 Sq. ft</li>
                <li><img src="assets/images/v2/bed.png" alt=""> 3 Bed</li>
                <li><img src="assets/images/v2/bath.png" alt=""> 2 Bath</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="container">
  <div class="tungo-diverder"></div>
</div>
<!-- End -->

<div class="section tungo-section-padding4">
  <div class="container">
    <div class="tungo-section-title center">
      <h2>Second-floor plan</h2>
      <p>The middle floor balances privacy, noise and view, yet without the high cost of direct outdoor access, potential temperature extremes.</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="tungo-floor-plan-wrap">
          <div class="tungo-floor-plan-thumb">
            <img src="assets/images/v6/3d-image1.png" alt="">
          </div>
          <div class="tungo-floor-plan-data">
            <a href="single-apartment.html">
              <h4>4 Room Apartment</h4>
            </a>
            <div class="tungo-properties-list">
              <ul>
                <li><img src="assets/images/v2/area.png" alt=""> 1200 Sq. ft</li>
                <li><img src="assets/images/v2/bed.png" alt=""> 4 Bed</li>
                <li><img src="assets/images/v2/bath.png" alt=""> 4 Bath</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="tungo-floor-plan-wrap">
          <div class="tungo-floor-plan-thumb">
            <img src="assets/images/v6/3d-image2.png" alt="">
          </div>
          <div class="tungo-floor-plan-data">
            <a href="single-apartment.html">
              <h4>3 Room Apartment</h4>
            </a>
            <div class="tungo-properties-list">
              <ul>
                <li><img src="assets/images/v2/area.png" alt=""> 900 Sq. ft</li>
                <li><img src="assets/images/v2/bed.png" alt=""> 3 Bed</li>
                <li><img src="assets/images/v2/bath.png" alt=""> 2 Bath</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
        <div class="tungo-floor-plan-wrap">
          <div class="tungo-floor-plan-thumb">
            <img src="assets/images/v6/3d-image3.png" alt="">
          </div>
          <div class="tungo-floor-plan-data">
            <a href="single-apartment.html">
              <h4>5 Room Apartment</h4>
            </a>
            <div class="tungo-properties-list">
              <ul>
                <li><img src="assets/images/v2/area.png" alt=""> 1200 Sq. ft</li>
                <li><img src="assets/images/v2/bed.png" alt=""> 5 Bed</li>
                <li><img src="assets/images/v2/bath.png" alt=""> 3 Bath</li>
              </ul>
            </div>
          </div>
          <a class="tungo-properties-btn position-right" href="">Sold</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="container">
  <div class="tungo-diverder"></div>
</div>
<!-- End -->

<div class="section tungo-section-padding4">
  <div class="container">
    <div class="tungo-section-title center">
      <h2>Third-floor plan</h2>
      <p>It is worth mentioning that the advantage of the third floor is that you get a better outdoor view as you are relatively close to the ground.</p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="tungo-floor-plan-wrap">
          <div class="tungo-floor-plan-thumb">
            <img src="assets/images/v6/3d-image1.png" alt="">
          </div>
          <div class="tungo-floor-plan-data">
            <a href="single-apartment.html">
              <h4>3 Room Apartment</h4>
            </a>
            <div class="tungo-properties-list">
              <ul>
                <li><img src="assets/images/v2/area.png" alt=""> 1000 Sq. ft</li>
                <li><img src="assets/images/v2/bed.png" alt=""> 3 Bed</li>
                <li><img src="assets/images/v2/bath.png" alt=""> 3 Bath</li>
              </ul>
            </div>
          </div>
          <a class="tungo-properties-btn position-right" href="">Sold</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="tungo-floor-plan-wrap">
          <div class="tungo-floor-plan-thumb">
            <img src="assets/images/v6/3d-image2.png" alt="">
          </div>
          <div class="tungo-floor-plan-data">
            <a href="single-apartment.html">
              <h4>6 Room Apartment</h4>
            </a>
            <div class="tungo-properties-list">
              <ul>
                <li><img src="assets/images/v2/area.png" alt=""> 1800 Sq. ft</li>
                <li><img src="assets/images/v2/bed.png" alt=""> 6 Bed</li>
                <li><img src="assets/images/v2/bath.png" alt=""> 6 Bath</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
        <div class="tungo-floor-plan-wrap">
          <div class="tungo-floor-plan-thumb">
            <img src="assets/images/v6/3d-image3.png" alt="">
          </div>
          <div class="tungo-floor-plan-data">
            <a href="single-apartment.html">
              <h4>3 Room Apartment</h4>
            </a>
            <div class="tungo-properties-list">
              <ul>
                <li><img src="assets/images/v2/area.png" alt=""> 800 Sq. ft</li>
                <li><img src="assets/images/v2/bed.png" alt=""> 3 Bed</li>
                <li><img src="assets/images/v2/bath.png" alt=""> 3 Bath</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tungo-section-padding blue-bg">
  <div class="container">
    <img src="assets/images/v5/thumb1.png" alt="">
  </div>
</div>
<!-- End section -->

<div class="section tungo-section-padding">
  <div id="tungo-counter"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-5 col-lg-6">
        <div class="tungo-thumb">
          <img src="assets/images/v6/thumb1.png" alt="">
          <div class="tungo-counter-wrap4">
            <div class="tungo-counter-data4">
              <div class="tungo-counter-number light-color"><span data-percentage="14" class="tungo-counter"></span></div>
              <p>Years of experience</p>
            </div>
            <div class="tungo-counter-data4">
              <div class="tungo-counter-number light-color"><span data-percentage="99" class="tungo-counter"></span>%</div>
              <p>Customer satisfaction</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 offset-xl-1 d-flex align-items-center">
        <div class="tungo-default-content">
          <h2>Luxury apartment for better living</h2>
          <p>Discover the epitome of luxury living in this stunning property. Our state-of-the-art building offers a range of stylishly luxurious and this spacious apartments with panoramic city views.</p>
          <p>Embrace the city center or a vibrant lifestyle that suits you with our exceptional property sites. Find yourself in a dynamic environment.</p>
          <div class="tungo-extra-mt">
            <a class="tungo-default-btn" href="contact-us.html">Discover More</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- End section -->

<div class="container">
  <div class="tungo-diverder"></div>
</div>
<!-- End -->

<div class="section tungo-section-padding">
  <div class="container">
    <div class="tungo-section-title center">
      <h2>Choose an apartment from our selection</h2>
    </div>
    <div class="tungo-apartments-table">
      <table>
        <thead>
            <tr>
              <th>Property Type</th>
              <th>Bedrooms</th>
              <th>Bathrooms</th>
              <th>SQ. Meters</th>
              <th>Price</th>
              <th>Floor Plan</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>Grand Mansion</td>
              <td>8</td>
              <td>6</td>
              <td>11,260 sq. ft</td>
              <td>$1,500,000</td>
              <td>
                <a href="apartment-list.html"><img src="assets/images/icon/arrow-right-black.svg" alt=""></a>
              </td>
            </tr>
            <tr>
              <td>Duplex Apartment</td>
              <td>6</td>
              <td>4</td>
              <td>1,850 sq. ft</td>
              <td>$3,500,000</td>
              <td>
                <a href="apartment-list.html"><img src="assets/images/icon/arrow-right-black.svg" alt=""></a>
              </td>
            </tr>
            <tr>
              <td>Penthouse</td>
              <td>3</td>
              <td>2</td>
              <td>1,200 sq. ft</td>
              <td>$599,000</td>
              <td>
                <a href="apartment-list.html"><img src="assets/images/icon/arrow-right-black.svg" alt=""></a>
              </td>
            </tr>
            <tr>
              <td>Loft</td>
              <td>2</td>
              <td>2</td>
              <td>600 sq. ft</td>
              <td>$19,000</td>
              <td>
                <a href="apartment-list.html"><img src="assets/images/icon/arrow-right-black.svg" alt=""></a>
              </td>
            </tr>
            <tr>
              <td>Studio Apartment</td>
              <td>1</td>
              <td>1</td>
              <td>450 sq. ft</td>
              <td>$8,000</td>
              <td>
                <a href="apartment-list.html"><img src="assets/images/icon/arrow-right-black.svg" alt=""></a>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- End section -->

<div id="map"></div>



{% include "../templates/layout/header-footer/footer-three.html" %} 
  
{% endblock %}
