{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-four.html" %} 

<div class="tungo-hero-section">
  <div class="tungo-hero-slider-init2">
    <div class="tungo-hero-slider-item2 animated" data-animation-in="zoomInImage" style="background-image: url('assets/images/hero/hero-bg9.png')">
      <div class="container">
        <div class="tungo-hero-content center">
          <div class="animated" data-animation-in="fadeInRight">
            <h1>Strategic location for seamless sales execution</h1>
            <p>Welcome to our fantastic commercial space, find the right property for your business, and connect with qualified leads to expand your business and close your next opportunity. These retail properties may also include space for restaurants and offices.</p>
          </div>
          <div class="tungo-extra-mt animated" data-animation-in="fadeInUp">
            <a class="tungo-default-btn" href="property.html">Browse All Properties</a>
          </div>
        </div>
      </div>
    </div>
    <div class="tungo-hero-slider-item2 animated" data-animation-in="zoomInImage" style="background-image: url('assets/images/hero/hero-bg1.png')">
      <div class="container">
        <div class="tungo-hero-content center">
          <div class="animated" data-animation-in="fadeInRight">
            <h1>Perfect location to increase your retail sales</h1>
            <p>Skip the hassle and headache of finding and listing your dream home! Let us show you how easy it can be to find a new home with us! We have over 1000 apartments, places and plots that make renting and buying property easy.</p>
          </div>
          <div class="tungo-extra-mt animated" data-animation-in="fadeInUp">
            <a class="tungo-default-btn" href="property.html">Browse All Properties</a>
          </div>
        </div>
      </div>
    </div>
    <div class="tungo-hero-slider-item2 animated" data-animation-in="zoomInImage" style="background-image: url('assets/images/hero/hero-bg2.png')">
      <div class="container">
        <div class="tungo-hero-content center">
          <div class="animated" data-animation-in="fadeInRight">
            <h1>Ultimate office space to enhance productivity</h1>
            <p>Welcome to our fantastic commercial space, find the right property for your business, and connect with qualified leads to expand your business and close your next opportunity. These retail properties may also include space for restaurants and offices.</p>
          </div>
          <div class="tungo-extra-mt animated" data-animation-in="fadeInUp">
            <a class="tungo-default-btn" href="property.html">Browse All Properties</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tungo-section-padding4">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="tungo-iconbox-wrap5">
          <div class="tungo-iconbox-icon5">
            <img src="assets/images/iconbox/icon30.png" alt="">
          </div>
          <div class="tungo-iconbox-data5">
            <a href="service-details.html">
              <h4>Modern Infrastructure</h4>
            </a>
            <p>Up-to-date facilities and utilities, including HVAC systems, lighting.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="tungo-iconbox-wrap5">
          <div class="tungo-iconbox-icon5">
            <img src="assets/images/iconbox/icon31.png" alt="">
          </div>
          <div class="tungo-iconbox-data5">
            <a href="service-details.html">
              <h4>Flexible Layout</h4>
            </a>
            <p>Versatile floor plans that can be customized to suit various retail.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="tungo-iconbox-wrap5">
          <div class="tungo-iconbox-icon5">
            <img src="assets/images/iconbox/icon32.png" alt="">
          </div>
          <div class="tungo-iconbox-data5">
            <a href="service-details.html">
              <h4>Security Features</h4>
            </a>
            <p>Including surveillance cameras, alarm systems, and secure entry.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="container">
  <div class="tungo-diverder"></div>
</div>
<!-- End section -->

<div class="section bg-cover tungo-section-padding z-index">
  <div class="container">
    <div class="tungo-section-title">
      <div class="row">
        <div class="col-lg-7">
          <h2>Locate your perfect business property</h2>
        </div>
        <div class="col-lg-5 d-flex align-items-center justify-content-end">
          <div class="tungo-section-title-des">
            <p>Location can also affect how much foot traffic your store receives, how much visibility it has, and how easy it is to find in search results.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row gx-xl-5">
      <div class="col-lg-6">
        <div class="tungo-properties-wrap">
          <div class="tungo-properties-thumb">
            <img src="assets/images/v2/properties1.png" alt="">
            <div class="tungo-properties-btn-wrap">
              <a class="tungo-properties-btn" href="">Sell</a>
              <a class="tungo-properties-btn apartment" href="">Apartment</a>
            </div>
          </div>
          <div class="tungo-properties-data">
            <div class="tungo-properties-details">
              <h4>Mixed Use Investment Property</h4>
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/map.png" alt=""> 2108 Eastern Ave</li>
                </ul>
              </div>
            </div>
            <div class="tungo-properties-border"></div>
            <div class="tungo-properties-details">
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/area.png" alt=""> 5,771 Sq. ft</li>
                  <li><img src="assets/images/v2/bed.png" alt=""> 4 Bed</li>
                  <li><img src="assets/images/v2/bath.png" alt=""> 3 Bath</li>
                </ul>
              </div>
              <h4>$999,900</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="tungo-properties-wrap">
          <div class="tungo-properties-thumb">
            <img src="assets/images/v2/properties2.png" alt="">
            <div class="tungo-properties-btn-wrap">
              <a class="tungo-properties-btn" href="">Sell</a>
              <a class="tungo-properties-btn apartment" href="">Mansion</a>
            </div>
          </div>
          <div class="tungo-properties-data">
            <div class="tungo-properties-details">
              <h4>The Manor / Grand Mansion</h4>
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/map.png" alt=""> Baltimore, MD 21201</li>
                </ul>
              </div>
            </div>
            <div class="tungo-properties-border"></div>
            <div class="tungo-properties-details">
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/area.png" alt=""> 11,260 Sq. ft</li>
                  <li><img src="assets/images/v2/bed.png" alt=""> 4 Bed</li>
                  <li><img src="assets/images/v2/bath.png" alt=""> 3 Bath</li>
                </ul>
              </div>
              <h4>$1,500,000</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="tungo-properties-wrap">
          <div class="tungo-properties-thumb">
            <img src="assets/images/v2/properties3.png" alt="">
            <div class="tungo-properties-btn-wrap">
              <a class="tungo-properties-btn" href="">LEASE</a>
              <a class="tungo-properties-btn apartment" href="">Street Retail</a>
            </div>
          </div>
          <div class="tungo-properties-data">
            <div class="tungo-properties-details">
              <h4>Street Retail Avenue</h4>
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/map.png" alt=""> 317 Northpoint Rd</li>
                </ul>
              </div>
            </div>
            <div class="tungo-properties-border"></div>
            <div class="tungo-properties-details">
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/area.png" alt=""> 3,000 Sq. ft</li>
                </ul>
              </div>
              <h4>$10,000.00/mo</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="tungo-properties-wrap">
          <div class="tungo-properties-thumb">
            <img src="assets/images/v2/properties4.png" alt="">
            <div class="tungo-properties-btn-wrap">
              <a class="tungo-properties-btn" href="">Rent</a>
              <a class="tungo-properties-btn apartment" href="">Villa</a>
            </div>
          </div>
          <div class="tungo-properties-data">
            <div class="tungo-properties-details">
              <h4>Central House Villa</h4>
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/map.png" alt=""> 106 Grant Ave. Logansport</li>
                </ul>
              </div>
            </div>
            <div class="tungo-properties-border"></div>
            <div class="tungo-properties-details">
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/area.png" alt=""> 780 Sq. ft</li>
                  <li><img src="assets/images/v2/bed.png" alt=""> 4 Bed</li>
                  <li><img src="assets/images/v2/bath.png" alt=""> 3 Bath</li>
                </ul>
              </div>
              <h4>$874/mo</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="tungo-properties-wrap">
          <div class="tungo-properties-thumb">
            <img src="assets/images/v2/properties5.png" alt="">
            <div class="tungo-properties-btn-wrap">
              <a class="tungo-properties-btn" href="">Rent</a>
              <a class="tungo-properties-btn apartment" href="">Resort</a>
            </div>
          </div>
          <div class="tungo-properties-data">
            <div class="tungo-properties-details">
              <h4>Morningstar Avenue Paradise</h4>
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/map.png" alt=""> 1220C Queen Street</li>
                </ul>
              </div>
            </div>
            <div class="tungo-properties-border"></div>
            <div class="tungo-properties-details">
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/area.png" alt=""> 1,000 Sq. ft</li>
                  <li><img src="assets/images/v2/bed.png" alt=""> 2 Bed</li>
                  <li><img src="assets/images/v2/bath.png" alt=""> 2 Bath</li>
                </ul>
              </div>
              <h4>$1,742/mo</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="tungo-properties-wrap">
          <div class="tungo-properties-thumb">
            <img src="assets/images/v2/properties6.png" alt="">
            <div class="tungo-properties-btn-wrap">
              <a class="tungo-properties-btn" href="">Sell</a>
              <a class="tungo-properties-btn apartment" href="">Warehouse</a>
            </div>
          </div>
          <div class="tungo-properties-data">
            <div class="tungo-properties-details">
              <h4>Warehouse/Distribution</h4>
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/map.png" alt=""> 317 North Point Road</li>
                </ul>
              </div>
            </div>
            <div class="tungo-properties-border"></div>
            <div class="tungo-properties-details">
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/area.png" alt=""> 3,000 Sq. ft</li>
                </ul>
              </div>
              <h4>$1,500,000</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tungo-center-btn">
      <a class="tungo-default-btn" href="property.html">View All Properties</a>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section blue-bg tungo-section-padding100">
  <div class="container">
    <div class="tungo-section-title center light-color pb-0">
      <h2>Direct possession is available for you</h2>
      <p>Select the right place with market-level data and research to prospect your next opportunity with accuracy, speed and confidence.</p>
      <div class="tungo-extra-mt">
        <a class="tungo-default-btn" href="property.html">View Available Properties</a>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section bg-cover tungo-section-padding z-index">
  <div class="container">
    <div class="tungo-section-title">
      <div class="row">
        <div class="col-lg-7">
          <h2>Perfectly elegant complete floor plan</h2>
        </div>
        <div class="col-lg-5 d-flex align-items-center justify-content-end">
          <div class="tungo-section-title-des">
            <p>Each floor design combines aesthetic appeal with functionality, efficiency and thoughtful consideration of occupant needs.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="tungo-floor-table">
      <table>
        <thead>
            <tr>
              <th>Floor Plan</th>
              <th>Floor</th>
              <th>Rooms</th>
              <th>SQ. Meters</th>
              <th>Price</th>
              <th>Visit Us</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td><img src="assets/images/v10/table-img1.png" alt=""></td>
              <td>1</td>
              <td>6</td>
              <td>11,260 sq. ft</td>
              <td>$36,50,000</td>
              <td>
                <a href="apartment-plane.html">Schedule A Tour</a>
              </td>
            </tr>
            <tr>
              <td><img src="assets/images/v10/table-img2.png" alt=""></td>
              <td>2</td>
              <td>8</td>
              <td>1,850 sq. ft</td>
              <td>$3,500,000</td>
              <td>
                <a href="apartment-plane.html">Schedule A Tour</a>
              </td>
            </tr>
            <tr>
              <td><img src="assets/images/v10/table-img3.png" alt=""></td>
              <td>3</td>
              <td>5</td>
              <td>1,200 sq. ft</td>
              <td>$599,000</td>
              <td>
                <a href="apartment-plane.html">Schedule A Tour</a>
              </td>
            </tr>
            <tr>
              <td><img src="assets/images/v10/table-img4.png" alt=""></td>
              <td>4</td>
              <td>4</td>
              <td>600 sq. ft</td>
              <td>$19,000</td>
              <td>
                <a href="apartment-plane.html">Schedule A Tour</a>
              </td>
            </tr>
            <tr>
              <td><img src="assets/images/v10/table-img2.png" alt=""></td>
              <td>5</td>
              <td>4</td>
              <td>450 sq. ft</td>
              <td>$8,000</td>
              <td>
                <a href="apartment-plane.html">Schedule A Tour</a>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- End section -->

<div class="tungo-video-section" style="background-image: url(assets/images/v10/video-bg.png);">
  <div class="container">
    <a class="video-init tungo-video-icon" href="https://www.youtube.com/watch?v=kb6ip9YI1fQ">
      <img src="assets/images/v1/play-btn.png" alt="">
      <div class="waves wave-1"></div>
      <div class="waves wave-2"></div>
      <div class="waves wave-3"></div>
    </a>
    <div class="tungo-video-title">
      <h3>View Property Overview</h3>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section bg-off-white tungo-section-padding">
  <div class="container">
    <div class="tungo-section-title center">
      <h2>Reviews from our satisfied customers</h2>
    </div>
    <div class="tungo-testimonial-slider2">
      <div class="tungo-testimonial-wrap3">
        <div class="tungo-testimonial-data3">
          <img src="assets/images/v5/quote.png" alt="">
          <h3>"Living in a smart home has transformed my daily routine! I love being able to control the thermostat, & security system all from my smartphone. It's adds a whole new level of comfort to my home."</h3>
        </div>
        <div class="tungo-testimonial-author3">
          <h6>Marsal McLuhan - Client at Tungo</h6>
        </div>
      </div>
      <div class="tungo-testimonial-wrap3">
        <div class="tungo-testimonial-data3">
          <img src="assets/images/v5/quote.png" alt="">
          <h3>"Our smart home has truly made life easier and more enjoyable. From waking up to automated coffee brewing to setting bedtime routines with just a voice commands. It's the future of living!"</h3>
        </div>
        <div class="tungo-testimonial-author3">
          <h6>Andrew Hatiz - Client at Tungo</h6>
        </div>
      </div>
      <div class="tungo-testimonial-wrap3">
        <div class="tungo-testimonial-data3">
          <img src="assets/images/v5/quote.png" alt="">
          <h3>"Our smart home has exceeded our expectations in terms of security. The integrated cameras and smart locks give us peace of mind knowing that our home is protected. It's a game-changer for home security!"</h3>
        </div>
        <div class="tungo-testimonial-author3">
          <h6>Andrew Trate - Client at Tungo</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tungo-section-padding">
  <div class="container">
    <div class="tungo-section-title">
      <div class="row">
        <div class="col-lg-7">
          <h2>Contact us today for a free consultation</h2>
        </div>
        <div class="col-lg-5 d-flex align-items-center justify-content-end">
          <div class="tungo-section-title-des">
            <p>Feel free to reach out if you need help or have questions. We are here to assist and provide information whenever you need it.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div id="map"></div>
      </div>
      <div class="col-lg-6">
        <form action="#">
          <div class="tungo-form-wrap">
            <div class="row">
              <div class="col-lg-6">
                <div class="tungo-form-field">
                  <label>Enter your name</label>
                  <input type="text" placeholder="Adam Smith">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="tungo-form-field">
                  <label>Select the date</label>
                  <div class="form-container">
                    <img src="assets/images/v1/calendar.png" alt="">
                    <input type="text" placeholder="Pick a date" class="date-input">
                 </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="tungo-form-field">
                  <label>Phone number</label>
                  <input type="number" placeholder="(123) 456 - 7890">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="tungo-form-field">
                  <label>Email address</label>
                  <input type="email" placeholder="example@gmail.com">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="tungo-form-field">
                  <label>Message</label>
                  <textarea name="textarea" placeholder="Write your message here..."></textarea>
                </div>
              </div>
              <div class="col-lg-12">
                <button id="tungo-submi-btn" type="submit">Send Message</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section">
  <div class="tungo-insta-slider-init">
    <div class="tungo-insta-slider-item">
      <div class="tungo-insta-slider-thumb">
        <img src="assets/images/v1/insta1.png" alt="">
        <div class="tungo-insta-slider-data">
          <a href="https://www.instagram.com/">
            <img src="assets/images/v1/insta.png" alt="">
          </a>
          <a class="tungo-insta-slider-title" href="https://mthemeus.com/"><h3>@mthemeus</h3></a>
        </div>
      </div>
    </div>
    <div class="tungo-insta-slider-item">
      <div class="tungo-insta-slider-thumb">
        <img src="assets/images/v1/insta2.png" alt="">
        <div class="tungo-insta-slider-data">
          <a href="https://www.instagram.com/">
            <img src="assets/images/v1/insta.png" alt="">
          </a>
          <a class="tungo-insta-slider-title" href="https://mthemeus.com/"><h3>@mthemeus</h3></a>
        </div>
      </div>
    </div>
    <div class="tungo-insta-slider-item">
      <div class="tungo-insta-slider-thumb">
        <img src="assets/images/v1/insta3.png" alt="">
        <div class="tungo-insta-slider-data">
          <a href="https://www.instagram.com/">
            <img src="assets/images/v1/insta.png" alt="">
          </a>
          <a class="tungo-insta-slider-title" href="https://mthemeus.com/"><h3>@mthemeus</h3></a>
        </div>
      </div>
    </div>
    <div class="tungo-insta-slider-item">
      <div class="tungo-insta-slider-thumb">
        <img src="assets/images/v1/insta4.png" alt="">
        <div class="tungo-insta-slider-data">
          <a href="https://www.instagram.com/">
            <img src="assets/images/v1/insta.png" alt="">
          </a>
          <a class="tungo-insta-slider-title" href="https://mthemeus.com/"><h3>@mthemeus</h3></a>
        </div>
      </div>
    </div>
    <div class="tungo-insta-slider-item">
      <div class="tungo-insta-slider-thumb">
        <img src="assets/images/v1/insta5.png" alt="">
        <div class="tungo-insta-slider-data">
          <a href="https://www.instagram.com/">
            <img src="assets/images/v1/insta.png" alt="">
          </a>
          <a class="tungo-insta-slider-title" href="https://mthemeus.com/"><h3>@mthemeus</h3></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->


{% include "../templates/layout/header-footer/footer-seven.html" %} 
  
{% endblock %}
