{% extends "layout/layout.html" %} {% block content %}

{% include "../templates/layout/header-footer/header-five.html" %} 

<div class="tungo-hero-section5">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-7">
        <div class="tungo-hero-content tungo-hero-content5">
          <h1>Intelligent living with smart home</h1>
          <p>Welcome to our smart home showcase! In our smart home, you will experience the latest technology that enhance convenience, security and comfort, where technology seamlessly integrates into everyday life to simplify tasks and improve your overall living experience.</p>
        </div>
      </div>
      <div class="col-xl-4 col-lg-5 d-flex align-items-center">
        <div class="tungo-hero-thumb5-wrap">
          <div class="tungo-hero-thumb5">
            <img src="assets/images/v5/hero-thumb.png" alt="">
          </div>
            <a class="tungo-circle-play-btn" href="">
              <img class="circle-play-btn" src="assets/images/v5/circle-play.png" alt="">
              <img class="circle-play-btn-icon" src="assets/images/v5/arrow-angle.svg" alt="">
            </a>
        </div>
        
      </div>
    </div>
    
  </div>
</div>
<!-- End section -->

<div class="tungo-home-display-section">
  <div class="container">
    <div class="tungo-home-display" style="background-image: url(assets/images/v5/thumb1.png)">
      <div class="tungo-home-price">
        <h4>Main-level living home in Rancho <br> Grande Estates</h4>
        <h4>Initial price: <br> $1,730,000</h4>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tungo-section-padding2">
  <div class="container">
    <div class="tungo-iconbox-column">
      <div class="tungo-iconbox-wrap text-center">
        <div class="tungo-iconbox-icon">
          <img src="assets/images/iconbox/icon13.png" alt="">
        </div>
        <div class="tungo-iconbox-data">
          <h4>Luxury Home</h4>
          <p>Explore contemporary exteriors and chic interiors available now.</p>
          <a class="tungo-default-btn small-btn" href="service-details.html">
            Learn More
          </a>
        </div>
      </div>
      <div class="tungo-iconbox-wrap text-center">
        <div class="tungo-iconbox-icon">
          <img src="assets/images/iconbox/icon14.png" alt="">
        </div>
        <div class="tungo-iconbox-data">
          <h4>Comfortable Living</h4>
          <p>Experience sustainable housing solutions built for longevity and style.</p>
          <a class="tungo-default-btn small-btn" href="service-details.html">
            Learn More
          </a>
        </div>
      </div>
      <div class="tungo-iconbox-wrap text-center">
        <div class="tungo-iconbox-icon">
          <img src="assets/images/iconbox/icon15.png" alt="">
        </div>
        <div class="tungo-iconbox-data">
          <h4>Best Experience</h4>
          <p>Embrace a new lifestyle and savor the comforts of home.</p>
          <a class="tungo-default-btn small-btn" href="service-details.html">
            Learn More
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tungo-section-padding bg-off-white">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="tungo-thumb mr-50">
          <img src="assets/images/v5/thumb2.png" alt="">
          <div class="tungo-thumb-shape shape-one">
            <img src="assets/images/v5/dot.png" alt="">
            <div class="tungo-shape-content">
              <h4>Climate Control</h4>
            </div>
          </div>
          <div class="tungo-thumb-shape shape-two">
            <img src="assets/images/v5/dot.png" alt="">
            <div class="tungo-shape-content">
              <h4>Energy Savings</h4>
            </div>
          </div>
          <div class="tungo-thumb-shape shape-three">
            <img src="assets/images/v5/dot.png" alt="">
            <div class="tungo-shape-content">
              <h4>Entertainment</h4>
            </div>
          </div>
          <div class="tungo-thumb-shape shape-four">
            <img src="assets/images/v5/dot.png" alt="">
            <div class="tungo-shape-content">
              <h4>Smart Locks</h4>
            </div>
          </div>
          <div class="tungo-thumb-shape shape-five">
            <img src="assets/images/v5/dot.png" alt="">
            <div class="tungo-shape-content">
              <h4>Appliances</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="tungo-default-content letter-spacing-reduce">
          <h2>Create an efficient living environment</h2>
          <p>This smart home is a technologically advanced residence equipped with interconnected devices that can be controlled remotely.</p>
          <div class="tungo-extra-mt">
            <div class="tungo-icon-list-wrap">
              <div class="tungo-icon-list">
                <ul>
                  <li>Voice-activated controls</li>
                  <li>Smart lighting system</li>
                  <li>Home security integration</li>
                </ul>
              </div>
              <div class="tungo-icon-list">
                <ul>
                  <li>Climate control</li>
                  <li>Smart appliances</li>
                  <li>Entertainment Hub</li>
                </ul>
              </div>
            </div>
            
          </div>
          <div class="tungo-extra-mt">
            <a class="tungo-default-btn" href="contact-us.html">Discover More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="tungo-section-padding z-index">
  <div class="container">
    <div class="tungo-section-title center">
      <h2>Choose an apartment from our selection</h2>
    </div>
    <div class="tungo-tab-column">
      <div class='tungo-tab-buttons4'>
        <div class='tab-content1'>
          <h3>Home safety and security</h3>
          <p>Control access to your home remotely and receive alerts on door activity. Keep an eye on your home with security cameras & sensors.</p>
        </div>
        <div class='tab-content2'>
          <h3>Voice assistant system</h3>
          <p>Interact with our smart home using voice commands. Control lights, adjust the thermostat, and even play music just by speaking.</p>
        </div>
        <div class='tab-content3'>
          <h3>Smart appliance connector</h3>
          <p>Discover how our connected appliances make daily tasks easier. Check the status of your refrigerator, start the oven remotely.</p>
        </div>
        <div class='tab-content4'>
          <h3>Automatic temperature control</h3>
          <p>Monitor and control heating and cooling systems remotely, adjust temperature settings based on occupancy or time of day.</p>
        </div>
        <div class='tab-content5'>
          <h3>Smart energy consumption</h3>
          <p>Monitor and optimize energy usage of appliances to reduce waste & save on utility bills and preferences, reducing energy consumption.</p>
        </div>
        <div class='tab-content6'>
          <h3>Home automation scenario</h3>
          <p>Create customized automation routines or scenes that trigger multiple smart devices simultaneously with a single command.</p>
        </div>
      </div>
      <div class='tab-content'>
        <div class="tab-content1 tungo-thumb-thumb">
          <img src="assets/images/v5/tab-thumb1.png" alt="">
        </div>
        <div class="tab-content2 tungo-thumb-thumb">
          <img src="assets/images/v5/tab-thumb2.png" alt="">
        </div>
        <div class="tab-content3 tungo-thumb-thumb">
          <img src="assets/images/v5/tab-thumb3.png" alt="">
        </div>
        <div class="tab-content4 tungo-thumb-thumb">
          <img src="assets/images/v5/tab-thumb4.png" alt="">
        </div>
        <div class="tab-content5 tungo-thumb-thumb">
          <img src="assets/images/v5/tab-thumb5.png" alt="">
        </div>
        <div class="tab-content6 tungo-thumb-thumb">
          <img src="assets/images/v5/tab-thumb6.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="tungo-thumb-zoom">
  <div class="container">
    <iframe src="https://my.matterport.com/show/?m=aSx1MpRRqif" allowfullscreen></iframe>
  </div>
</div>
<!-- End section -->
 
<div class="section tungo-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <div class="tungo-default-content">
          <h2>Get answers to all your questions</h2>
          <p>We understand that you are considering our residential complex, so we have created a collection of frequently asked questions.</p>
          <div class="tungo-extra-mt">
            <a class="tungo-default-btn" href="contact-02.html">Get In Touch</a>
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-lg-6 offset-xl-1">
        <div class="tungo-accordion-wrap2 init-wrap responsive-mt40">
            <div class="tungo-accordion-item2 open">
              <div class="tungo-accordion-header2 init-header">
                <h4>Is the residential complex secure?</h4>
              </div>
              <div class="tungo-accordion-body2 init-body">
                <p>Yes, we prioritize resident safety with security measures including controlled access, surveillance cameras, and possibly onsite security personnel.</p>
              </div>
            </div>
            <div class="tungo-accordion-item2">
              <div class="tungo-accordion-header2 init-header">
                <h4>Is there onsite management available?</h4>
              </div>
              <div class="tungo-accordion-body2 init-body">
                <p>Embrace indoor-outdoor living with a sprawling outdoor living space, featuring lush landscaping.</p>
              </div>
            </div>
            <div class="tungo-accordion-item2">
              <div class="tungo-accordion-header2 init-header">
                <h4>Are pets allowed in the complex?</h4>
              </div>
              <div class="tungo-accordion-body2 init-body">
                <p>Unwind and rejuvenate in a spa-like bathroom retreat, complete with a luxurious soaking tub.</p>
              </div>
            </div>
            <div class="tungo-accordion-item2">
              <div class="tungo-accordion-header2 init-header">
                <h4>What are the lease terms & rental rates?</h4>
              </div>
              <div class="tungo-accordion-body2 init-body">
                <p>Our lease terms and rental rates vary based on unit size, location, and amenities. Please contact us for specific details and availability.</p>
              </div>
            </div>

            <div class="tungo-accordion-item2">
              <div class="tungo-accordion-header2 init-header">
                <h4>Is the complex environmentally friendly?</h4>
              </div>
              <div class="tungo-accordion-body2 init-body">
                <p>Monitoring of security alarm systems, including intrusion detection, fire alarms, and cameras.</p>
              </div>
            </div>
      
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section bg-off-white tungo-section-padding">
  <div class="container">
    <div class="tungo-section-title center">
      <h2>Reviews from our satisfied customers</h2>
    </div>
    <div class="tungo-testimonial-slider2">
      <div class="tungo-testimonial-wrap3">
        <div class="tungo-testimonial-data3">
          <img src="assets/images/v5/quote.png" alt="">
          <h3>"Living in a smart home has transformed my daily routine! I love being able to control the thermostat, & security system all from my smartphone. It's adds a whole new level of comfort to my home."</h3>
        </div>
        <div class="tungo-testimonial-author3">
          <h6>Marsal McLuhan - Client at Tungo</h6>
        </div>
      </div>
      <div class="tungo-testimonial-wrap3">
        <div class="tungo-testimonial-data3">
          <img src="assets/images/v5/quote.png" alt="">
          <h3>"Our smart home has truly made life easier and more enjoyable. From waking up to automated coffee brewing to setting bedtime routines with just a voice commands. It's the future of living!"</h3>
        </div>
        <div class="tungo-testimonial-author3">
          <h6>Andrew Hatiz - Client at Tungo</h6>
        </div>
      </div>
      <div class="tungo-testimonial-wrap3">
        <div class="tungo-testimonial-data3">
          <img src="assets/images/v5/quote.png" alt="">
          <h3>"Our smart home has exceeded our expectations in terms of security. The integrated cameras and smart locks give us peace of mind knowing that our home is protected. It's a game-changer for home security!"</h3>
        </div>
        <div class="tungo-testimonial-author3">
          <h6>Andrew Trate - Client at Tungo</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tungo-section-padding4">
  <div class="container">
    <div class="tungo-section-title center">
      <h2>Contact us today to request a viewing</h2>
      <p>Feel free to reach out if you need help or have questions. We are here to assist and provide information whenever you need it.</p>
    </div>
    <form action="#">
      <div class="tungo-form-wrap bg-off-white border-0">
        <div class="row">
          <div class="col-lg-6">
            <div class="tungo-form-field">
              <label>Enter your name</label>
              <input type="text" placeholder="Adam Smith">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="tungo-form-field">
              <label>Select the date</label>
              <div class="form-container">
                <img src="assets/images/v1/calendar.png" alt="">
                <input type="text" placeholder="Pick a date" class="date-input">
             </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="tungo-form-field">
              <label>Phone number</label>
              <input type="number" placeholder="(123) 456 - 7890">
            </div>
          </div>
          <div class="col-lg-6">
            <div class="tungo-form-field">
              <label>Email address</label>
              <input type="email" placeholder="example@gmail.com">
            </div>
          </div>
          <div class="col-lg-12">
            <div class="tungo-form-field">
              <label>Message</label>
              <textarea name="textarea" placeholder="Write your message here..."></textarea>
            </div>
          </div>
          <div class="col-lg-12">
            <button id="tungo-submi-btn" type="submit">Send Message</button>
          </div>
        </div>
      </div>
    </form>
    <div class="row rt-mt-40">
      <div class="col-xl-4 col-md-6">
        <div class="tungo-contact-info3">
          <h4>Head office:</h4>
          <p>South of Howard Street, San <br> Francisco Market 10203 USA</p>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tungo-contact-info3">
          <h4>Write to us:</h4>
          <a href="mailto:name@email.com">mthemeus@gmail.com</a>
          <a href="mailto:name@email.com">example@gmail.com</a>
        </div>
      </div>
      <div class="col-xl-4 col-md-6">
        <div class="tungo-contact-info3">
          <h4>Call us:</h4>
          <a href="tel:123">+088-234-6849</a>
          <a href="tel:123">+088-541-8273</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section">
  <div class="tungo-insta-slider-init">
    <div class="tungo-insta-slider-item">
      <div class="tungo-insta-slider-thumb">
        <img src="assets/images/v1/insta1.png" alt="">
        <div class="tungo-insta-slider-data">
          <a href="https://www.instagram.com/">
            <img src="assets/images/v1/insta.png" alt="">
          </a>
          <a class="tungo-insta-slider-title" href="https://mthemeus.com/"><h3>@mthemeus</h3></a>
        </div>
      </div>
    </div>
    <div class="tungo-insta-slider-item">
      <div class="tungo-insta-slider-thumb">
        <img src="assets/images/v1/insta2.png" alt="">
        <div class="tungo-insta-slider-data">
          <a href="https://www.instagram.com/">
            <img src="assets/images/v1/insta.png" alt="">
          </a>
          <a class="tungo-insta-slider-title" href="https://mthemeus.com/"><h3>@mthemeus</h3></a>
        </div>
      </div>
    </div>
    <div class="tungo-insta-slider-item">
      <div class="tungo-insta-slider-thumb">
        <img src="assets/images/v1/insta3.png" alt="">
        <div class="tungo-insta-slider-data">
          <a href="https://www.instagram.com/">
            <img src="assets/images/v1/insta.png" alt="">
          </a>
          <a class="tungo-insta-slider-title" href="https://mthemeus.com/"><h3>@mthemeus</h3></a>
        </div>
      </div>
    </div>
    <div class="tungo-insta-slider-item">
      <div class="tungo-insta-slider-thumb">
        <img src="assets/images/v1/insta4.png" alt="">
        <div class="tungo-insta-slider-data">
          <a href="https://www.instagram.com/">
            <img src="assets/images/v1/insta.png" alt="">
          </a>
          <a class="tungo-insta-slider-title" href="https://mthemeus.com/"><h3>@mthemeus</h3></a>
        </div>
      </div>
    </div>
    <div class="tungo-insta-slider-item">
      <div class="tungo-insta-slider-thumb">
        <img src="assets/images/v1/insta5.png" alt="">
        <div class="tungo-insta-slider-data">
          <a href="https://www.instagram.com/">
            <img src="assets/images/v1/insta.png" alt="">
          </a>
          <a class="tungo-insta-slider-title" href="https://mthemeus.com/"><h3>@mthemeus</h3></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->


{% include "../templates/layout/header-footer/main-footer.html" %} 
  
{% endblock %}
