{% extends "layout/layout.html" %}
{% set page_title = "Property Slider" %}
 {% block content %}

{% include "../templates/layout/header-footer/main-header.html" %} 

<div class="breadcumb-wrapper" style="background-image: url(assets/images/breadcrumb/breadcrumb.png)">
  <div class="container">
    {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
  </div>
</div>
<!-- End breadcrumb -->

<div class="section tungo-section-padding">
  <div class="container">
    <div class="tungo-section-title">
      <div class="row">
        <div class="col-lg-8">
          <h2>Explore our all-new available properties</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="tungo-properties-slider">
    <div class="tungo-properties-wrap3">
      <div class="tungo-properties-thumb3">
        <img src="assets/images/v4/properties1.png" alt="">
        <div class="tungo-properties-title">
          <a href="property-list.html"><h4>Modern Urban Loft, London</h4></a>
        </div>
      </div>
      <div class="tungo-properties-data3">
        <div class="tungo-properties-details">
          <h4>$1,50,000</h4>
        </div>
        <div class="tungo-properties-border"></div>
          <div class="tungo-properties-list">
            <ul>
              <li><img src="assets/images/v2/area.png" alt=""> 5,771 Sq. ft</li>
              <li><img src="assets/images/v2/bed.png" alt=""> 4 Bed</li>
              <li><img src="assets/images/v2/bath.png" alt=""> 3 Bath</li>
            </ul>
          </div>
      </div>
    </div>
    <div class="tungo-properties-wrap3">
      <div class="tungo-properties-thumb3">
        <img src="assets/images/v4/properties2.png" alt="">
        <a class="tungo-properties-btn position-right" href="">Rent</a>
        <div class="tungo-properties-title">
          <a href="property-list.html"><h4>Duplex House, San Francisco</h4></a>
        </div>
      </div>
      <div class="tungo-properties-data3">
        <div class="tungo-properties-details">
          <h4>$2000/ <span>per month</span> </h4>
        </div>
        <div class="tungo-properties-border"></div>
          <div class="tungo-properties-list">
            <ul>
              <li><img src="assets/images/v2/area.png" alt=""> 1200 Sq. ft</li>
              <li><img src="assets/images/v2/bed.png" alt=""> 6 Bed</li>
              <li><img src="assets/images/v2/bath.png" alt=""> 6 Bath</li>
            </ul>
          </div>
      </div>
    </div>
    <div class="tungo-properties-wrap3">
      <div class="tungo-properties-thumb3">
        <img src="assets/images/v4/properties3.png" alt="">
        <div class="tungo-properties-title">
          <a href="property-list.html"><h4>Garden Residence, New York</h4></a>
        </div>
      </div>
      <div class="tungo-properties-data3">
        <div class="tungo-properties-details">
          <h4>$10,85,645</h4>
        </div>
        <div class="tungo-properties-border"></div>
          <div class="tungo-properties-list">
            <ul>
              <li><img src="assets/images/v2/area.png" alt=""> 11,260 Sq. ft</li>
              <li><img src="assets/images/v2/bed.png" alt=""> 4 Bed</li>
              <li><img src="assets/images/v2/bath.png" alt=""> 3 Bath</li>
            </ul>
          </div>
      </div>
    </div>
    <div class="tungo-properties-wrap3">
      <div class="tungo-properties-thumb3">
        <img src="assets/images/v4/properties4.png" alt="">
        <div class="tungo-properties-title">
          <a href="property-list.html"><h4>Retreat House, LA, California</h4></a>
        </div>
      </div>
      <div class="tungo-properties-data3">
        <div class="tungo-properties-details">
          <h4>$55,000</h4>
        </div>
        <div class="tungo-properties-border"></div>
          <div class="tungo-properties-list">
            <ul>
              <li><img src="assets/images/v2/area.png" alt=""> 3,000 Sq. ft</li>
              <li><img src="assets/images/v2/bed.png" alt=""> 2 Bed</li>
              <li><img src="assets/images/v2/bath.png" alt=""> 1 Bath</li>
            </ul>
          </div>
      </div>
    </div>
    <div class="tungo-properties-wrap3">
      <div class="tungo-properties-thumb3">
        <img src="assets/images/v4/properties5.png" alt="">
        <a class="tungo-properties-btn position-right" href="">Rent</a>
        <div class="tungo-properties-title">
          <a href="property-list.html"><h4>Sea View Villa, Thailand</h4></a>
        </div>
      </div>
      <div class="tungo-properties-data3">
        <div class="tungo-properties-details">
          <h4>$3,500/ <span>per month</span> </h4>
        </div>
        <div class="tungo-properties-border"></div>
          <div class="tungo-properties-list">
            <ul>
              <li><img src="assets/images/v2/area.png" alt=""> 780 Sq. ft</li>
              <li><img src="assets/images/v2/bed.png" alt=""> 3 Bed</li>
              <li><img src="assets/images/v2/bath.png" alt=""> 2 Bath</li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->


{% include "../templates/layout/header-footer/main-footer.html" %} 
  
{% endblock %}
