{% extends "layout/layout.html" %}
{% set page_title = "Property Standard" %}
 {% block content %}

{% include "../templates/layout/header-footer/main-header.html" %} 

<div class="breadcumb-wrapper" style="background-image: url(assets/images/breadcrumb/breadcrumb.png)">
  <div class="container">
    {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
  </div>
</div>
<!-- End breadcrumb -->

<div class="section tungo-section-padding5 z-index">
  <div class="container">
    <div class="tungo-section-title center">
      <h2>Available properties that fit your needs</h2>
    </div>
    <div class="row gx-xl-5">
      <div class="col-xl-6">
        <div class="tungo-properties-wrap">
          <div class="tungo-properties-thumb">
            <img src="assets/images/v2/properties1.png" alt="">
            <div class="tungo-properties-btn-wrap">
              <a class="tungo-properties-btn" href="">Sell</a>
              <a class="tungo-properties-btn apartment" href="">Apartment</a>
            </div>
          </div>
          <div class="tungo-properties-data">
            <div class="tungo-properties-details">
              <h4>Mixed Use Investment Property</h4>
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/map.png" alt=""> 2108 Eastern Ave</li>
                </ul>
              </div>
            </div>
            <div class="tungo-properties-border"></div>
            <div class="tungo-properties-details">
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/area.png" alt=""> 5,771 Sq. ft</li>
                  <li><img src="assets/images/v2/bed.png" alt=""> 4 Bed</li>
                  <li><img src="assets/images/v2/bath.png" alt=""> 3 Bath</li>
                </ul>
              </div>
              <h4>$999,900</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="tungo-properties-wrap">
          <div class="tungo-properties-thumb">
            <img src="assets/images/v2/properties2.png" alt="">
            <div class="tungo-properties-btn-wrap">
              <a class="tungo-properties-btn" href="">Sell</a>
              <a class="tungo-properties-btn apartment" href="">Mansion</a>
            </div>
          </div>
          <div class="tungo-properties-data">
            <div class="tungo-properties-details">
              <h4>The Manor / Grand Mansion</h4>
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/map.png" alt=""> Baltimore, MD 21201</li>
                </ul>
              </div>
            </div>
            <div class="tungo-properties-border"></div>
            <div class="tungo-properties-details">
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/area.png" alt=""> 11,260 Sq. ft</li>
                  <li><img src="assets/images/v2/bed.png" alt=""> 4 Bed</li>
                  <li><img src="assets/images/v2/bath.png" alt=""> 3 Bath</li>
                </ul>
              </div>
              <h4>$1,500,000</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="tungo-properties-wrap">
          <div class="tungo-properties-thumb">
            <img src="assets/images/v2/properties3.png" alt="">
            <div class="tungo-properties-btn-wrap">
              <a class="tungo-properties-btn" href="">LEASE</a>
              <a class="tungo-properties-btn apartment" href="">Street Retail</a>
            </div>
          </div>
          <div class="tungo-properties-data">
            <div class="tungo-properties-details">
              <h4>Street Retail Avenue</h4>
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/map.png" alt=""> 317 Northpoint Rd</li>
                </ul>
              </div>
            </div>
            <div class="tungo-properties-border"></div>
            <div class="tungo-properties-details">
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/area.png" alt=""> 3,000 Sq. ft</li>
                </ul>
              </div>
              <h4>$10,000.00/mo</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="tungo-properties-wrap">
          <div class="tungo-properties-thumb">
            <img src="assets/images/v2/properties4.png" alt="">
            <div class="tungo-properties-btn-wrap">
              <a class="tungo-properties-btn" href="">Rent</a>
              <a class="tungo-properties-btn apartment" href="">Villa</a>
            </div>
          </div>
          <div class="tungo-properties-data">
            <div class="tungo-properties-details">
              <h4>Central House Villa</h4>
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/map.png" alt=""> 106 Grant Ave. Logansport</li>
                </ul>
              </div>
            </div>
            <div class="tungo-properties-border"></div>
            <div class="tungo-properties-details">
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/area.png" alt=""> 780 Sq. ft</li>
                  <li><img src="assets/images/v2/bed.png" alt=""> 4 Bed</li>
                  <li><img src="assets/images/v2/bath.png" alt=""> 3 Bath</li>
                </ul>
              </div>
              <h4>$874/mo</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="tungo-properties-wrap">
          <div class="tungo-properties-thumb">
            <img src="assets/images/v2/properties5.png" alt="">
            <div class="tungo-properties-btn-wrap">
              <a class="tungo-properties-btn" href="">Rent</a>
              <a class="tungo-properties-btn apartment" href="">Resort</a>
            </div>
          </div>
          <div class="tungo-properties-data">
            <div class="tungo-properties-details">
              <h4>Morningstar Avenue Paradise</h4>
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/map.png" alt=""> 1220C Queen Street</li>
                </ul>
              </div>
            </div>
            <div class="tungo-properties-border"></div>
            <div class="tungo-properties-details">
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/area.png" alt=""> 1,000 Sq. ft</li>
                  <li><img src="assets/images/v2/bed.png" alt=""> 2 Bed</li>
                  <li><img src="assets/images/v2/bath.png" alt=""> 2 Bath</li>
                </ul>
              </div>
              <h4>$1,742/mo</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="tungo-properties-wrap">
          <div class="tungo-properties-thumb">
            <img src="assets/images/v2/properties6.png" alt="">
            <div class="tungo-properties-btn-wrap">
              <a class="tungo-properties-btn" href="">Sell</a>
              <a class="tungo-properties-btn apartment" href="">Warehouse</a>
            </div>
          </div>
          <div class="tungo-properties-data">
            <div class="tungo-properties-details">
              <h4>Warehouse/Distribution</h4>
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/map.png" alt=""> 317 North Point Road</li>
                </ul>
              </div>
            </div>
            <div class="tungo-properties-border"></div>
            <div class="tungo-properties-details">
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/area.png" alt=""> 3,000 Sq. ft</li>
                </ul>
              </div>
              <h4>$1,500,000</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tungo-shape-top-left">
    <img src="assets/images/shape/shape-left.png" alt="">
  </div>
  <div class="tungo-shape-bottom-right">
    <img src="assets/images/shape/shape-right.png" alt="">
  </div>
</div>
<!-- End section -->


{% include "../templates/layout/header-footer/main-footer.html" %} 
  
{% endblock %}
