{% extends "layout/layout.html" %}
{% set page_title = "Buy Property" %}
 {% block content %}

{% include "../templates/layout/header-footer/main-header.html" %} 

<div class="breadcumb-wrapper" style="background-image: url(assets/images/breadcrumb/breadcrumb.png)">
  <div class="container">
    {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
  </div>
</div>
<!-- End breadcrumb -->

<div class="section tungo-section-padding z-index">
  <div class="container">
    <div class="tungo-service-single-thumb">
      <img src="assets/images/service/service-details.png" alt="">
    </div>
    <div class="pb-80">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <div class="tungo-default-content letter-spacing-reduce">
            <h2>Searching for your next dream home?</h2>
            <p>Let us help you find your dream home! Explore our wide range of beautiful properties tailored to fit your lifestyle and needs.</p>
            <p>Explore our wide range of available properties to find the perfect place for you. Whether you're looking for a cozy apartment or a spacious house, we'll help you discover your ideal home.</p>
          </div>
        </div>
        <div class="col-xl-4 offset-xl-2 col-lg-5 offset-lg-1">
          <div class="tungo-icon-list mt-lg-40">
            <ul>
              <li>Assess your financial readiness and credit score before buying.</li>
              <li>Set your budget & calculate how much you can afford to spend.</li>
              <li>Research and explore different financing options, conventional, FHA, VA, and USDA loans.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div class="tungo-diverder"></div>
    <!-- End section -->

    <div class="pt-80">
      <div class="tungo-section-title center">
        <h2>How to buy a house: A step-by-step guide</h2>
        <p>Buying a home is an exciting & often adventurous process. We've created a step-by-step guide to help you understand the nuances of the home-buying.</p>
      </div>
      <div class="row">
        <div class="col-xl-5 col-lg-6 offset-xl-1 order-lg-2">
          <div class="tungo-thumb">
            <img src="assets/images/v4/thumb2.png" alt="">
          </div>
        </div>
        <div class="col-xl-6 col-lg-6 d-flex align-items-center">
          <div class="tungo-iconboxs">
            <div class="tungo-iconbox-wrap3">
              <div class="tungo-iconbox-icon3">
                <img src="assets/images/iconbox/icon10.png" alt="">
              </div>
              <div class="tungo-iconbox-data3">
                <h3>Make sure you are ready:</h3>
                <p>If you're looking to buy your first home, start by determining whether you're ready to make a long-term commitment.</p>
              </div>
            </div>

            <div class="tungo-iconbox-wrap3">
              <div class="tungo-iconbox-icon3">
                <img src="assets/images/iconbox/icon35.png" alt="">
              </div>
              <div class="tungo-iconbox-data3">
                <h3>Find a real estate agent:</h3>
                <p>Working with a good real estate agent who understands the local market, will stick within your budget, and can guide you</p>
              </div>
            </div>

            <div class="tungo-iconbox-wrap3">
              <div class="tungo-iconbox-icon3">
                <img src="assets/images/iconbox/icon36.png" alt="">
              </div>
              <div class="tungo-iconbox-data3">
                <h3>Purchase homeowners insurance:</h3>
                <p>Even though you don't own the home, often you will need to take out homeowners insurance to get the lender to finalize the loan.</p>
              </div>
            </div>

            <div class="tungo-iconbox-wrap3">
              <div class="tungo-iconbox-icon3">
                <img src="assets/images/iconbox/icon11.png" alt="">
              </div>
              <div class="tungo-iconbox-data3">
                <h3>Make an offer and negotiate:</h3>
                <p>Once you find a property you like, make an offer to the seller or landlord. Negotiate terms like price, lease period for rent.</p>
              </div>
            </div>
            <div class="tungo-iconbox-wrap3">
              <div class="tungo-iconbox-icon3">
                <img src="assets/images/iconbox/icon12.png" alt="">
              </div>
              <div class="tungo-iconbox-data3">
                <h3>Finalize the contract:</h3>
                <p>Review all terms and conditions thoroughly, ensuring clarity & understanding. Sign the contract and make the payment.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End section -->
  </div>
  <div class="tungo-shape-top-right">
    <img src="assets/images/shape/shape-top-right.png" alt="">
  </div>
</div>
<!-- End section -->

<div class="section tungo-section-padding100 blue-bg">
  <div id="tungo-counter"></div>
  <div class="container">
      <div class="tungo-counter-wrap2">
        <div class="tungo-counter-data2">
          <div class="tungo-counter-number light-color"><span data-percentage="60" class="tungo-counter"></span></div>
          <p>Years of experience</p>
          <img src="assets/images/v2/counter-icon1.png" alt="">
        </div>
        <div class="tungo-counter-data2">
          <div class="tungo-counter-number light-color"><span data-percentage="14" class="tungo-counter"></span>K</div>
          <p>Total property sell</p>
          <img src="assets/images/v2/counter-icon2.png" alt="">
        </div>
        <div class="tungo-counter-data2">
          <div class="tungo-counter-number light-color"><span data-percentage="70" class="tungo-counter"></span></div>
          <p>Experience agents</p>
          <img src="assets/images/v2/counter-icon3.png" alt="">
        </div>
        <div class="tungo-counter-data2">
          <div class="tungo-counter-number light-color"><span data-percentage="99" class="tungo-counter"></span>%</div>
          <p>Customer satisfaction</p>
          <img src="assets/images/v2/counter-icon4.png" alt="">
        </div>
      </div>
  </div>
</div>
<!-- End section -->


<div class="section tungo-section-padding z-index">
  <div class="container">
    <div class="tungo-section-title center">
      <h2>Available properties that fit your needs</h2>
    </div>
    <div class="row gx-xl-5">
      <div class="col-xl-6">
        <div class="tungo-properties-wrap">
          <div class="tungo-properties-thumb">
            <img src="assets/images/v2/properties1.png" alt="">
            <div class="tungo-properties-btn-wrap">
              <a class="tungo-properties-btn" href="">Sell</a>
              <a class="tungo-properties-btn apartment" href="">Apartment</a>
            </div>
          </div>
          <div class="tungo-properties-data">
            <div class="tungo-properties-details">
              <h4>Mixed Use Investment Property</h4>
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/map.png" alt=""> 2108 Eastern Ave</li>
                </ul>
              </div>
            </div>
            <div class="tungo-properties-border"></div>
            <div class="tungo-properties-details">
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/area.png" alt=""> 5,771 Sq. ft</li>
                  <li><img src="assets/images/v2/bed.png" alt=""> 4 Bed</li>
                  <li><img src="assets/images/v2/bath.png" alt=""> 3 Bath</li>
                </ul>
              </div>
              <h4>$999,900</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="tungo-properties-wrap">
          <div class="tungo-properties-thumb">
            <img src="assets/images/v2/properties2.png" alt="">
            <div class="tungo-properties-btn-wrap">
              <a class="tungo-properties-btn" href="">Sell</a>
              <a class="tungo-properties-btn apartment" href="">Mansion</a>
            </div>
          </div>
          <div class="tungo-properties-data">
            <div class="tungo-properties-details">
              <h4>The Manor / Grand Mansion</h4>
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/map.png" alt=""> Baltimore, MD 21201</li>
                </ul>
              </div>
            </div>
            <div class="tungo-properties-border"></div>
            <div class="tungo-properties-details">
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/area.png" alt=""> 11,260 Sq. ft</li>
                  <li><img src="assets/images/v2/bed.png" alt=""> 4 Bed</li>
                  <li><img src="assets/images/v2/bath.png" alt=""> 3 Bath</li>
                </ul>
              </div>
              <h4>$1,500,000</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="tungo-properties-wrap">
          <div class="tungo-properties-thumb">
            <img src="assets/images/v2/properties3.png" alt="">
            <div class="tungo-properties-btn-wrap">
              <a class="tungo-properties-btn" href="">LEASE</a>
              <a class="tungo-properties-btn apartment" href="">Street Retail</a>
            </div>
          </div>
          <div class="tungo-properties-data">
            <div class="tungo-properties-details">
              <h4>Street Retail Avenue</h4>
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/map.png" alt=""> 317 Northpoint Rd</li>
                </ul>
              </div>
            </div>
            <div class="tungo-properties-border"></div>
            <div class="tungo-properties-details">
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/area.png" alt=""> 3,000 Sq. ft</li>
                </ul>
              </div>
              <h4>$10,000.00/mo</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="tungo-properties-wrap">
          <div class="tungo-properties-thumb">
            <img src="assets/images/v2/properties4.png" alt="">
            <div class="tungo-properties-btn-wrap">
              <a class="tungo-properties-btn" href="">Rent</a>
              <a class="tungo-properties-btn apartment" href="">Villa</a>
            </div>
          </div>
          <div class="tungo-properties-data">
            <div class="tungo-properties-details">
              <h4>Central House Villa</h4>
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/map.png" alt=""> 106 Grant Ave. Logansport</li>
                </ul>
              </div>
            </div>
            <div class="tungo-properties-border"></div>
            <div class="tungo-properties-details">
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/area.png" alt=""> 780 Sq. ft</li>
                  <li><img src="assets/images/v2/bed.png" alt=""> 4 Bed</li>
                  <li><img src="assets/images/v2/bath.png" alt=""> 3 Bath</li>
                </ul>
              </div>
              <h4>$874/mo</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="tungo-properties-wrap">
          <div class="tungo-properties-thumb">
            <img src="assets/images/v2/properties5.png" alt="">
            <div class="tungo-properties-btn-wrap">
              <a class="tungo-properties-btn" href="">Rent</a>
              <a class="tungo-properties-btn apartment" href="">Resort</a>
            </div>
          </div>
          <div class="tungo-properties-data">
            <div class="tungo-properties-details">
              <h4>Morningstar Avenue Paradise</h4>
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/map.png" alt=""> 1220C Queen Street</li>
                </ul>
              </div>
            </div>
            <div class="tungo-properties-border"></div>
            <div class="tungo-properties-details">
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/area.png" alt=""> 1,000 Sq. ft</li>
                  <li><img src="assets/images/v2/bed.png" alt=""> 2 Bed</li>
                  <li><img src="assets/images/v2/bath.png" alt=""> 2 Bath</li>
                </ul>
              </div>
              <h4>$1,742/mo</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="tungo-properties-wrap">
          <div class="tungo-properties-thumb">
            <img src="assets/images/v2/properties6.png" alt="">
            <div class="tungo-properties-btn-wrap">
              <a class="tungo-properties-btn" href="">Sell</a>
              <a class="tungo-properties-btn apartment" href="">Warehouse</a>
            </div>
          </div>
          <div class="tungo-properties-data">
            <div class="tungo-properties-details">
              <h4>Warehouse/Distribution</h4>
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/map.png" alt=""> 317 North Point Road</li>
                </ul>
              </div>
            </div>
            <div class="tungo-properties-border"></div>
            <div class="tungo-properties-details">
              <div class="tungo-properties-list">
                <ul>
                  <li><img src="assets/images/v2/area.png" alt=""> 3,000 Sq. ft</li>
                </ul>
              </div>
              <h4>$1,500,000</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tungo-center-btn">
      <a class="tungo-default-btn" href="property.html">View All Properties</a>
    </div>
  </div>
  <div class="tungo-shape-top-right">
    <img src="assets/images/shape/shape-top-right.png" alt="">
  </div>
</div>
<!-- End section -->

<div class="container">
  <div class="tungo-diverder"></div>
</div>
<!-- End section -->

<div class="section tungo-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <div class="tungo-default-content">
          <h2>Get answers to all your questions</h2>
          <p>We understand that you are considering our residential complex, so we have created a collection of frequently asked questions.</p>
          <div class="tungo-extra-mt">
            <a class="tungo-default-btn" href="contact-02.html">Get In Touch</a>
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-lg-6 offset-xl-1">
        <div class="tungo-accordion-wrap2 init-wrap responsive-mt40">
            <div class="tungo-accordion-item2 open">
              <div class="tungo-accordion-header2 init-header">
                <h4>Do you assist property management?</h4>
              </div>
              <div class="tungo-accordion-body2 init-body">
                <p>Yes, we prioritize resident safety with security measures including controlled access, surveillance cameras, and possibly onsite security personnel.</p>
              </div>
            </div>
            <div class="tungo-accordion-item2">
              <div class="tungo-accordion-header2 init-header">
                <h4>How are your agents compensated?</h4>
              </div>
              <div class="tungo-accordion-body2 init-body">
                <p>Embrace indoor-outdoor living with a sprawling outdoor living space, featuring lush landscaping.</p>
              </div>
            </div>
            <div class="tungo-accordion-item2">
              <div class="tungo-accordion-header2 init-header">
                <h4>What sets our agency apart from others?</h4>
              </div>
              <div class="tungo-accordion-body2 init-body">
                <p>Unwind and rejuvenate in a spa-like bathroom retreat, complete with a luxurious soaking tub.</p>
              </div>
            </div>
            <div class="tungo-accordion-item2">
              <div class="tungo-accordion-header2 init-header">
                <h4>How do we help find the right property?</h4>
              </div>
              <div class="tungo-accordion-body2 init-body">
                <p>Our lease terms and rental rates vary based on unit size, location, and amenities. Please contact us for specific details and availability.</p>
              </div>
            </div>

            <div class="tungo-accordion-item2">
              <div class="tungo-accordion-header2 init-header">
                <h4>What areas do you serve?</h4>
              </div>
              <div class="tungo-accordion-body2 init-body">
                <p>Monitoring of security alarm systems, including intrusion detection, fire alarms, and cameras.</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

{% include "../templates/layout/header-footer/main-footer.html" %} 
  
{% endblock %}
