{% extends "layout/layout.html" %}
{% set page_title = "Apartment Single" %}
 {% block content %}

{% include "../templates/layout/header-footer/main-header.html" %} 

<div class="breadcumb-wrapper" style="background-image: url(assets/images/breadcrumb/breadcrumb.png)">
  <div class="container">
    {% include "../templates/components/breadcrumbs/breadcrumbs.html" %}
  </div>
</div>
<!-- End breadcrumb -->

<div class="section tungo-section-padding6">
    <div class="tungo-gallery-slider2">
      <div class="tungo-gallery-slider-thumb">
        <img src="assets/images/v3/g-slider1.png" alt="">
      </div>
      <div class="tungo-gallery-slider-thumb">
        <img src="assets/images/v3/g-slider2.png" alt="">
      </div>
      <div class="tungo-gallery-slider-thumb">
        <img src="assets/images/v3/g-slider3.png" alt="">
      </div>
      <div class="tungo-gallery-slider-thumb">
        <img src="assets/images/v3/g-slider4.png" alt="">
      </div>
    </div>
</div>
<!-- End section -->

<div class="section">
  <div class="container">
    <div class="tungo-section-padding3">
      <div class="tungo-apartment-details">
        <div class="tungo-properties-details">
          <div class="tungo-properties-list">
            <ul>
              <li><img src="assets/images/v2/area.png" alt=""> 5,771 Sq. ft</li>
              <li><img src="assets/images/v2/bed.png" alt=""> 4 Bed</li>
              <li><img src="assets/images/v2/bath.png" alt=""> 3 Bath</li>
            </ul>
          </div>
          <h4>$999,900</h4>
        </div>
        <div class="tungo-properties-single-item">
          <h3>Apartment Description:</h3>
          <p>Welcome to our exclusive duplex apartment! Experience the perfect blend of luxury, comfort, and modern design in this stunning two-story living space. Here’s an overview of what this exceptional duplex apartment offers. Situated in a prime urban location, this duplex apartment offers easy access to shopping, dining, entertainment, and public transportation, making it ideal for those seeking a vibrant city lifestyle.</p>
        </div>
        <div class="tungo-properties-single-item">
          <h3>Features and Amenities:</h3>
          <p>Experience the pinnacle of urban living, where every detail is designed with your comfort and enjoyment in mind. As a duplex renter, you share a wall with your neighbors. However, you can enjoy all the perks of living in a house at a slightly lower cost.</p>
            <p><span>1. Spacious Layout:</span>  With two levels of living space, the duplex provides ample room for relaxation and entertainment. The open-plan design enhances the flow between rooms, creating a light and airy atmosphere.</p>

            <p><span>2. Elegant Interiors:</span> Enjoy high-end finishes and stylish decor throughout. The apartment features hardwood floors, large windows, and contemporary fixtures that add a touch of sophistication to every room.</p>
            <p><span>3. Smart Home Technology:</span> Experience the convenience of smart home features, including automated lighting, climate control, and security systems, all accessible via your smartphone.</p>
        </div>
        <div class="tungo-properties-single-item">
          <h3>Why Choose This Duplex Apartment?</h3>
          <p>This duplex apartment offers a unique combination of luxury, space, & modern amenities, making it an ideal choice for families, professionals, or anyone seeking an elevated living experience. The thoughtful design & premium features ensure that every need is met, providing a comfortable & stylish home.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="container">
  <div class="tungo-diverder"></div>
</div>
<!-- End section -->

<div class="section tungo-section-padding">
  <div id="tungo-counter"></div>
  <div class="container">
    <div class="tungo-counter-wrap">
      <div class="tungo-counter-data">
        <div class="tungo-counter-number"><span data-percentage="80" class="tungo-counter"></span><img src="assets/images/v1/c-icon1.png" alt=""></div>
        <p>Various home models</p>
      </div>
      <div class="tungo-counter-data">
        <div class="tungo-counter-number"><span data-percentage="12" class="tungo-counter"></span><img src="assets/images/v1/c-icon2.png" alt=""></div>
        <p>Nearest convenience store</p>
      </div>
      <div class="tungo-counter-data">
        <div class="tungo-counter-number"><span data-percentage="43" class="tungo-counter"></span><img src="assets/images/v1/c-icon3.png" alt=""></div>
        <p>Types of green spaces</p>
      </div>
      <div class="tungo-counter-data">
        <div class="tungo-counter-number"><span data-percentage="65" class="tungo-counter"></span><img src="assets/images/v1/c-icon4.png" alt=""></div>
        <p>Available parking spots</p>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tungo-section-padding blue-bg">
  <div class="container">
    <div class="tungo-apartment-tab-wrap">
      <div class="row">
        <div class="col-lg-5 order-lg-2 offset-lg-1">
            <div class='tungo-tab-check-out light-color'>
              <span class='tab-content1'><img src="assets/images/v1/photo.png" alt="">Photos</span>
              <span class='tab-content2'><img src="assets/images/v1/video.png" alt="">Video</span>
              <span class='tab-content3'><img src="assets/images/v1/load.png" alt="">360 Video</span>
            </div>
            <img src="assets/images/v1/tab-thumb6.png" alt="">
        </div>
        <div class="col-lg-6">
          <div class='tab-content-checkout'>
            <div class="tab-content1">
              <div class="tungo-gallery-slider">
                <div class="tungo-gallery-slider-thumb">
                  <img src="assets/images/v3/g-slider1.png" alt="">
                </div>
                <div class="tungo-gallery-slider-thumb">
                  <img src="assets/images/v3/g-slider2.png" alt="">
                </div>
                <div class="tungo-gallery-slider-thumb">
                  <img src="assets/images/v3/g-slider3.png" alt="">
                </div>
                <div class="tungo-gallery-slider-thumb">
                  <img src="assets/images/v3/g-slider4.png" alt="">
                </div>
                </div>
                <div class="tungo-gallery-slider-nav">
                <div class="tungo-gallery-slider-thumb">
                  <img src="assets/images/v3/g-nav1.png" alt="">
                </div>
                <div class="tungo-gallery-slider-thumb">
                  <img src="assets/images/v3/g-nav2.png" alt="">
                </div>
                <div class="tungo-gallery-slider-thumb">
                  <img src="assets/images/v3/g-nav3.png" alt="">
                </div>
                <div class="tungo-gallery-slider-thumb">
                  <img src="assets/images/v3/g-nav4.png" alt="">
                </div>
                </div>
            </div>
            <div class="tab-content2">
              <div class="tungo-video-thumb">
                <img src="assets/images/blog/blog8.png" alt="">
                <a class="video-init tungo-tab-video-icon" href="https://www.youtube.com/watch?v=kb6ip9YI1fQ">
                  <img src="assets/images/v9/play-btn.png" alt="">
                  <div class="waves wave-1"></div>
                  <div class="waves wave-2"></div>
                  <div class="waves wave-3"></div>
                </a>
              </div>
            </div>
            <div class="tab-content3">
              <div class="tungo-thumb-zoom2">
                <iframe src="https://my.matterport.com/show/?m=aSx1MpRRqif" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
<!-- End section -->

<div class="section tungo-section-padding bg-off-white">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 d-flex align-items-center">
        <div class="tungo-default-content">
          <h2>A place with all kinds of features</h2>
          <p>Discover the epitome of luxury living in this stunning property, boasting opulent features and meticulous attention to detail. From every aspect of this home exudes sophistication.</p>
          <div class="tungo-extra-mt">
            <div class="tungo-user-wrap">
              <div class="tungo-user-thumb">
                <img src="assets/images/v1/user.png" alt="">
              </div>
              <div class="tungo-user-data">
                <p>“Enjoy our most spacious living spaces, state-of-the-art amenities & breathtaking views. Welcome home to the pinnacle of luxury living.”</p>
                <img src="assets/images/v1/signature.png" alt="">
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-xl-5 col-lg-6 offset-xl-1">
        <div class="tungo-accordion-wrap init-wrap responsive-mt40">
            <div class="tungo-accordion-item open">
              <div class="tungo-accordion-header init-header">
                <img src="assets/images/v1/faq-icon1.png" alt="">
                <h4>Smart home technology</h4>
              </div>
              <div class="tungo-accordion-body init-body">
                <p>We allow you to control lighting, temperature, security, and entertainment systems with ease from your smartphone or tablet.</p>
              </div>
            </div>
            <div class="tungo-accordion-item">
              <div class="tungo-accordion-header init-header">
                <img src="assets/images/v1/faq-icon2.png" alt="">
                <h4>Outdoor living space:</h4>
              </div>
              <div class="tungo-accordion-body init-body">
                <p>Embrace indoor-outdoor living with a sprawling outdoor living space, featuring lush landscaping.</p>
              </div>
            </div>
            <div class="tungo-accordion-item">
              <div class="tungo-accordion-header init-header">
                <img src="assets/images/v1/faq-icon3.png" alt="">
                <h4>Spa-like bathroom</h4>
              </div>
              <div class="tungo-accordion-body init-body">
                <p>Unwind and rejuvenate in a spa-like bathroom retreat, complete with a luxurious soaking tub.</p>
              </div>
            </div>
            <div class="tungo-accordion-item">
              <div class="tungo-accordion-header init-header">
                <img src="assets/images/v1/faq-icon4.png" alt="">
                <h4>All types of security services</h4>
              </div>
              <div class="tungo-accordion-body init-body">
                <p>Monitoring of security alarm systems, including intrusion detection, fire alarms, and cameras.</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="tungo-video-section" style="background-image: url(assets/images/v1/video-bg.png);">
  <div class="container">
    <a class="video-init tungo-video-icon" href="https://www.youtube.com/watch?v=kb6ip9YI1fQ">
      <img src="assets/images/v1/play-btn.png" alt="">
      <div class="waves wave-1"></div>
      <div class="waves wave-2"></div>
      <div class="waves wave-3"></div>
    </a>
    <div class="tungo-video-title">
      <h3>View Property Overview</h3>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section bg-off-white tungo-section-padding">
  <div class="container">
    <div class="tungo-section-title center">
      <h2>Reviews from our satisfied customers</h2>
    </div>
    <div class="tungo-testimonial-slider2">
      <div class="tungo-testimonial-wrap3">
        <div class="tungo-testimonial-data3">
          <img src="assets/images/v5/quote.png" alt="">
          <h3>"Living in a smart home has transformed my daily routine! I love being able to control the thermostat, & security system all from my smartphone. It's adds a whole new level of comfort to my home."</h3>
        </div>
        <div class="tungo-testimonial-author3">
          <h6>Marsal McLuhan - Client at Tungo</h6>
        </div>
      </div>
      <div class="tungo-testimonial-wrap3">
        <div class="tungo-testimonial-data3">
          <img src="assets/images/v5/quote.png" alt="">
          <h3>"Our smart home has truly made life easier and more enjoyable. From waking up to automated coffee brewing to setting bedtime routines with just a voice commands. It's the future of living!"</h3>
        </div>
        <div class="tungo-testimonial-author3">
          <h6>Andrew Hatiz - Client at Tungo</h6>
        </div>
      </div>
      <div class="tungo-testimonial-wrap3">
        <div class="tungo-testimonial-data3">
          <img src="assets/images/v5/quote.png" alt="">
          <h3>"Our smart home has exceeded our expectations in terms of security. The integrated cameras and smart locks give us peace of mind knowing that our home is protected. It's a game-changer for home security!"</h3>
        </div>
        <div class="tungo-testimonial-author3">
          <h6>Andrew Trate - Client at Tungo</h6>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End section -->

<div class="section tungo-section-padding">
  <div class="container">
    <div class="tungo-section-title">
      <div class="row">
        <div class="col-lg-7">
          <h2>Contact us today for a free consultation</h2>
        </div>
        <div class="col-lg-5 d-flex align-items-center justify-content-end">
          <div class="tungo-section-title-des">
            <p>Feel free to reach out if you need help or have questions. We are here to assist and provide information whenever you need it.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div id="map"></div>
      </div>
      <div class="col-lg-6">
        <form action="#">
          <div class="tungo-form-wrap">
            <div class="row">
              <div class="col-lg-6">
                <div class="tungo-form-field">
                  <label>Enter your name</label>
                  <input type="text" placeholder="Adam Smith">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="tungo-form-field">
                  <label>Select the date</label>
                  <div class="form-container">
                    <img src="assets/images/v1/calendar.png" alt="">
                    <input type="text" placeholder="Pick a date" class="date-input">
                 </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="tungo-form-field">
                  <label>Phone number</label>
                  <input type="number" placeholder="(123) 456 - 7890">
                </div>
              </div>
              <div class="col-lg-6">
                <div class="tungo-form-field">
                  <label>Email address</label>
                  <input type="email" placeholder="example@gmail.com">
                </div>
              </div>
              <div class="col-lg-12">
                <div class="tungo-form-field">
                  <label>Message</label>
                  <textarea name="textarea" placeholder="Write your message here..."></textarea>
                </div>
              </div>
              <div class="col-lg-12">
                <button id="tungo-submi-btn" type="submit">Send Message</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End section -->


{% include "../templates/layout/header-footer/main-footer.html" %} 
  
{% endblock %}
