// bootstrap button style

.tungo-default-btn,
.blog-btn,
#comment-btn,
#tungo-submi-btn,
#tungo-search-btn,
#tungo-subscription-btn {
  font-size: $button_font_size;
  line-height: $buton_line_height;
  padding: $button_padding;
  border-radius: $buton_border_radius;
  font-weight: $button_font_weight;
  font-family: $button_font_family;
  width: fit-content;
  position: relative;
  z-index: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  color: var(--heading-color);
  background-color: var(--accent-bg);
  z-index: 0;
  overflow: hidden;
  position:relative;
  transform-style: preserve-3d;
  &:hover{
    color: var(--accent-color);
  }
  &::before{
    transition-duration: 800ms;
    position: absolute;
    width: 200%;
    height: 200%;
    content: "";
    top: 110%;
    left: 50%;
    background-color: #0D121E;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: -1;
  }
  &:hover:before{
    top: -40%;
  }
  &.blue-btn{
    color: var(--white-color);
    background-color: var(--blue-bg);
  }
  &.tungo-header-btn{
    padding: 13px 24px;
  }
  &.small-btn{
    padding: 13px 35px;
  }
  &.outline-btn{
    color: var(--accent-color);
    background-color: transparent;
    border: 2px solid var(--accent-color);
    &:hover{
      border: 2px solid var(--heading-color);
    }
  }

  &.disabled,
  &:disabled {
    opacity: 1;
  }
  &.d-block {
    width: 100%;
  }
  &.pill {
    border-radius: 50px;
  }
  &.btn-icon {
    padding: 9px 24px;
  }
  &:focus {
    box-shadow: none;
  }
}

