.tungo-contact-info{
  ul{
    li{
      position: relative;
      margin-bottom: 20px;
      padding-left: 30px;
      color: var(--white-color);
      &:last-child{
        margin-bottom: 0;
      }
      img{
        margin-right: 10px;
        position: absolute;
        left: 0;
        top: 1px;
      }
      a{
        color: var(--white-color);
        img{
          left: 0;
          top: 3px;
          position: absolute;
          margin-right: 10px;
        }
      }
    }
  }
  &.info-dark{
    ul{
      li{
        color: var(--heading-color);
        a{
          color: var(--heading-color);
        }
      }
    }
  }
  &.layout-inline{
    ul{
      li{
        display: inline-block;
        margin-right: 30px;
        margin-bottom: 0;
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
}
// footer info v1
.tungo-contact-info2{
  ul{
    li{
      display: inline-block;
      position: relative;
      margin-right: 30px;
      padding-left: 30px;
      &:last-child{
        margin-bottom: 0;
      }
      img{
        margin-right: 10px;
        position: absolute;
        left: 0;
        top: 2px;
      }
      a{
        color: var(--heading-color);
        img{
          left: 0;
          top: 4px;
          position: absolute;
          margin-right: 10px;
        }
      }
    }
  }
}
// info 2

.tungo-contact-info3{
  padding: 30px 40px;
  border-radius: 5px;
  margin-bottom: 24px;
  border: 1px solid var(--accent-color);
  @include max(991px) {
    padding: 30px;
  }
  h4{
    margin-bottom: 15px;
  }
  a{
    display: block;
    color: var(--heading-color);
  }
}


// contact page start
.tungo-contact-info4{
  &-wrap{
    display: flex;
    gap: 15px;
    margin-bottom: 50px;
    padding: 30px 40px;
    border-radius: 5px;
    background-color: var(--blue-bg);
    @include max(1199px) {
      padding: 30px;
      margin-bottom: 24px;
    }
  }
  &-icon{
    flex-shrink: 0;
  }
  &-data{
    h4{
      margin-bottom: 15px;
      color: var(--white-color);
    }
    p{
      font-size: 20px;
      color: var(--white-color);
    }
    a{
      font-size: 20px;
      display: block;
      color: var(--white-color);
    }
  }
}