.tungo-pagination {
  margin-top: 80px;
  @include max(991px) {
    margin-top: 60px;
  }
  ul{
    display: flex;
    justify-content: center;
  }
  li {
    display: inline-block;
    margin: 0 7px;
  }
  
}

.tungo-pagination span, 
.tungo-pagination a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--body-color);
  font-weight: 700;
  width: 50px;
  height: 50px;
  z-index: 1;
  transition: all 0.4s;
  border-radius: 3px;
  border: 1px solid var(--body-color);
  &:hover{
    color: var(--accent-color);
    background-color: var(--blue-bg);
  }
}

.pagi-btn{
  svg{
    path{
      fill: var(--body-color);
      transition: all 0.4s;
    }
  }
  &:hover path{
    fill: var(--accent-color);
  }
}

a.current{
  cursor: not-allowed;
  color: var(--accent-color);
  background-color: var(--blue-bg);
}