<!-- Mobile Menu -->

<div class="tungo-menu-wrapper">
    <div class="tungo-menu-area text-center">
        <button class="tungo-menu-toggle">
          <i class="ri-close-line"></i>
        </button>
        <div class="mobile-logo">
          <a href="index.html">
            <img src="assets/images/logo/logo-dark.svg" alt="logo">
          </a>
        </div>
        <div class="tungo-mobile-menu">
            <ul>
                <li class="menu-item-has-children">
                    <a href="#">Demo</a>
                    <ul class="sub-menu">
                      <li><a href="index.html">Single Property</a></li>
                      <li><a href="index-02.html">Real Estate Agency</a></li>
                      <li><a href="index-03.html">Residential Complex</a></li>
                      <li><a href="index-04.html">Property Agency</a></li>
                      <li><a href="index-05.html">Smart Home</a></li>
                      <li><a href="index-07.html">Building Complex</a></li>
                      <li><a href="index-08.html">Commercial Property</a></li>
                      <li><a href="index-09.html">Development Property</a></li>
                      <li><a href="index-10.html">Retail Property</a></li>
                    </ul>
                </li>
                <li>
                    <a href="about-us.html">About Us</a>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Blog</a>
                    <ul class="sub-menu">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog-grid.html">Blog Grid</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Pages</a>
                    <ul class="sub-menu">
                      <li><a href="blog.html">Blog</a></li>
                      <li><a href="blog-grid.html">Blog Grid</a></li>
                      <li><a href="blog-details.html">Blog Details</a></li>
                      <li><a href="about-us.html">About Us</a></li>
                      <li><a href="gallery.html">Gallery</a></li>
                      <li><a href="service.html">Service</a></li>
                      <li><a href="service-details.html">Service Details</a></li>
                      <li><a href="mortgage-calculator.html">Mortgage Calculator</a></li>
                      <li><a href="property.html">Property Standard</a></li>
                      <li><a href="property-list.html">Property Info Below List</a></li>
                      <li><a href="property-slider.html">Property Slider</a></li>
                      <li><a href="property-sidebar.html">Property Sidebar</a></li>
                      <li><a href="single-property.html">Property Details</a></li>
                      <li><a href="apartment-list.html">Apartment List</a></li>
                      <li><a href="multiple-apartment.html">Multiple Apartments</a></li>
                      <li><a href="apartment-plane.html">Apartment Plans</a></li>
                      <li><a href="single-apartment.html">Apartment Single</a></li>
                      <li><a href="neighbourhood.html">Neighbourhood</a></li>
                      <li><a href="amenities.html">Amenities</a></li>
                      <li><a href="team.html">Our Team</a></li>
                      <li><a href="single-team.html">Team Details</a></li>
                      <li><a href="faq.html">Faq</a></li>
                      <li><a href="coming-soon.html">Coming Soon</a></li>
                      <li><a href="contact-us.html">Contact Us</a></li>
                      <li><a href="contact-02.html">Get In Touch</a></li>
                      <li><a href="contact-03.html">Contact With Agent</a></li>
                      <li><a href="errors-404.html">Errors 404</a></li>
                    </ul>
                </li>
                <li>
                    <a href="contact-us.html">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
  </div><!--==============================

  Header Area
==============================-->
<header class="tungo-header blue-bg" id="sticky-menu">
  <div class="sticky-wrap">
      <div class="sticky-active">
          <div class="container">
              <div class="row gx-3 align-items-center justify-content-between">
                  <div class="col-8 col-sm-auto">
                      <div class="header-logo">
                          <a href="index.html">
                              <img src="assets/images/logo/logo-white.svg" alt="logo">
                          </a>
                      </div>
                  </div>
                  <div class="col text-end text-lg-center">
                      <nav class="main-menu menu-style1 d-none d-lg-block">
                        <ul>
                            <li class="menu-item-has-children">
                                <a href="#">Demo</a>
                                <ul class="sub-menu">
                                  <li><a href="index.html">Single Property</a></li>
                                  <li><a href="index-02.html">Real Estate Agency</a></li>
                                  <li><a href="index-03.html">Residential Complex</a></li>
                                  <li><a href="index-04.html">Property Agency</a></li>
                                  <li><a href="index-05.html">Smart Home</a></li>
                                  <li><a href="index-07.html">Building Complex</a></li>
                                  <li><a href="index-08.html">Commercial Property</a></li>
                                  <li><a href="index-09.html">Development Property</a></li>
                                  <li><a href="index-10.html">Retail Property</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="about-us.html">About Us</a>
                            </li>
                            <li class="menu-item-has-children mega-menu-wrap">
                                <a href="#">Pages</a>
                                <ul class="mega-menu">
                                    <li><a href="#">Demos</a>
                                      <ul>
                                          <li><a href="index.html">Single Property</a></li>
                                          <li><a href="index-02.html">Real Estate Agency</a></li>
                                          <li><a href="index-03.html">Residential Complex</a></li>
                                          <li><a href="index-04.html">Property Agency</a></li>
                                          <li><a href="index-05.html">Smart Home</a></li>
                                          <li><a href="index-07.html">Building Complex</a></li>
                                          <li><a href="index-08.html">Commercial Property</a></li>
                                          <li><a href="index-09.html">Development Property</a></li>
                                          <li><a href="index-10.html">Retail Property</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Innerlist 1</a>
                                        <ul>
                                            <li><a href="about-us.html">About Us</a></li>
                                            <li><a href="gallery.html">Gallery</a></li>
                                            <li><a href="service.html">Service</a></li>
                                            <li><a href="service-details.html">Service Details</a></li>
                                            <li><a href="mortgage-calculator.html">Mortgage Calculator</a></li>
                                            <li><a href="property.html">Property Standard</a></li>
                                            <li><a href="property-list.html">Property Info Below List</a></li>
                                            <li><a href="property-slider.html">Property Slider</a></li>
                                            <li><a href="property-sidebar.html">Property Sidebar</a></li>
                                            <li><a href="single-property.html">Property Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Innerlist 2</a>
                                        <ul>
                                            <li><a href="apartment-list.html">Apartment List</a></li>
                                            <li><a href="multiple-apartment.html">Multiple Apartments</a></li>
                                            <li><a href="apartment-plane.html">Apartment Plans</a></li>
                                            <li><a href="single-apartment.html">Apartment Single</a></li>
                                            <li><a href="neighbourhood.html">Neighbourhood</a></li>
                                            <li><a href="amenities.html">Amenities</a></li>
                                            <li><a href="team.html">Our Team</a></li>
                                            <li><a href="single-team.html">Team Details</a></li>
                                            <li><a href="faq.html">Faq</a></li>
                                            <li><a href="coming-soon.html">Coming Soon</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">innerlist 3</a>
                                        <ul>
                                           <li><a href="contact-us.html">Contact Us</a></li>
                                           <li><a href="contact-02.html">Get In Touch</a></li>
                                           <li><a href="contact-03.html">Contact With Agent</a></li>
                                           <li><a href="errors-404.html">Errors 404</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children">
                                <a href="blog.html">Blog</a>
                                <ul class="sub-menu">
                                    <li><a href="blog.html">Blog</a></li>
                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                    <li><a href="blog-details.html">Blog Details</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="contact-us.html">Contact</a>
                            </li>
                        </ul>
                      </nav>
                      <button class="tungo-menu-toggle d-inline-block d-lg-none">
                        <i class="ri-menu-line"></i>
                      </button>
                  </div>
                  <div class="col-auto  d-none d-lg-block">
                      <div class="header-icons">
                          <button class="simple-icon sideMenuToggler"><i class="far fa-bars"></i></button>
                      </div>
                  </div>
                  <div class="col-auto d-none d-lg-block">
                    <a class="tungo-default-btn tungo-header-btn" href="contact-us.html">Schedule A Visit</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</header>
